.ff_container-expandable {
	&__header {
		padding: @ff_size_spacing_med;
		border: 1px solid @ff_colour_melody_int_blue;
		color: @ff_colour_melody_int_blue;
		cursor: pointer;
		background: white;
	}

	&__icon {
		width: 1.5em;
		height: 1.5em;
		float: right;
	}

	&__content {
		max-height: 1000px;
		overflow: hidden;
		transition: max-height 0.25s ease-in-out;
	}

	&--is-collapsed &__content {
		max-height: 0;
	}

	&--is-widescreen &__header {
		@media all and (min-width: @ff_bp_wide) { 
			display: none;
		}
	}
	&--is-widescreen &__content {
		@media all and (min-width: @ff_bp_wide) { 
			max-height: 1000px;
		}
	}
}