// Colours are taken from the navigation to override the empty state graphic
.ff_module-empty-state__svg-page {
	fill: white;
}
.ff_module-empty-state__svg-sparkles {
	fill: @ff_templatesetting_colour_sm_level0_bg; 
}

.ff_module-empty-state__svg-circle {
	fill: desaturate(lighten(@ff_templatesetting_colour_sm_level0_bg, 40%), 50%);
}