.ff_module-task-event-group {

    background: #fff;
    border: 1px solid @ff_colour_control_border;
    border-radius: 0.5*@ff_size_control_rounding / 4;
    padding: @ff_size_spacing_min*0.5 @ff_size_spacing_med;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);

    &__sent {
        font-size: .875rem;
        margin: @ff_size_spacing_min*0.8 0;
        color: @ff_colour_text_quiet;
    }
    &--delete-response {
        background-color: transparent;
    }
    &--is-deleted {
        background-color: transparent;
    }
}
