.ff_module-form-label {

    &--heading {
        display: block;
        font-weight: bold;
        margin-bottom:@ff_size_spacing_min*0.5;
    }
    &__optional {
        font-weight: normal;
        white-space: pre-wrap;
        #ff_mix-util-prose > .text-quiet;
        #ff_mix-util-prose > .text-small;
    }
    &__hint {
        font-weight: normal;
        white-space: pre-wrap;
    }
}
