.ff_module-task-event {

    .ff_mix-clearfix;
    &>* {
        margin: @ff_size_spacing_min*0.8 0;
    }
    &>*:not(.ff_module-mark-and-grade) {
        #ff_mix-base-text > .word-breaks;        
    }
    &__sent {
        float: right;
    }
    &__author-action {
        display: block;
    }
    &__files {}
    &__actions {
        float: right;
        clear: right;
        margin: 0;
    }
}
