.ff_module-class {
    margin: 0;
    padding: @ff_size_spacing_max @ff_size_control_horizontal;
}

.ff_module-class__link {
    #ff_mix-util-prose > .link-no-decoration();
}

.ff_module-class__item {
    margin: 0;
}

@media (min-width: @ff_bp_medium) {
    .ff_module-class {
        display: flex;
        justify-content: space-between;
    }   
}
