.ff_container-formstep-content {
    border: none;
    margin: 0;
    padding: 0;
    min-width: 0;
    //todo: Make this more progressive, ie. this shouldn't get hidden by default.
    
    display: none;
    
    &--is-current {
        display: block;
    }
    
}