// FIXME: Remove and create own pattern after BETT
.ff-no-recipients-message {
    display: none;
    margin-top: 50px;
    padding: .75rem 1rem;
    background-color: lighten(@ff_colour_red, 30%);
    border: 1px solid lighten(@ff_colour_red, 15%);
    color: @ff_colour_red;
    border-radius: @ff_size_control_rounding;
    p {
        margin: 0;
        padding: 0;
    }
}

.ff_container-formstep-content h2 {
    margin-top: 0;
}
