#ff_container-modal() {
    .overlay() {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 10000;
    }
    .content() {
        .core() {
            position: absolute;
            outline: none;
            -webkit-overflow-scrolling: touch;
        }
        .default() {
            .style() {
                padding: 0;
                border: none;
                background: #fff;
            }
            .position() {
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
            }
        }
        .medium() {
            .style() {
                border-radius: 4px;
                box-shadow: 1px 5px 0px 0px rgba(0,0,0,0.25);
                overflow: hidden;
            }
            .position() {
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                width: 50%;
                min-width: 400px;
                min-height: 200px;
            }
        }
        .compact() {
            .position() {
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                width: 20%;
                min-width: 300px;
                min-height: 160px;
            }
        }
        .compact-form() {
            .position() {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 20%;
                min-width: 300px;
                min-height: 160px;
            }
        }
        .wide() {
            .position() {
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                width: 70%;
                min-width: 300px;
                min-height: 265px;
            }
        }
    }
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ff_container-modal {
    &__overlay {
        #ff_container-modal > .overlay;
    }
    &__content {
        #ff_container-modal > .content > .core;
        #ff_container-modal > .content > .default > .style;
        #ff_container-modal > .content > .default > .position;
    }
}


@media (min-width: @ff_bp_narrow) {

    // default (no mods)
    .ff_container-modal {
        &__content {
            #ff_container-modal > .content > .medium > .style;
            #ff_container-modal > .content > .medium > .position;
        }
    }

    // compact modifiers
    .ff_container-modal {
        &__overlay--compact {}
        &__content--compact {
            #ff_container-modal > .content > .compact > .position;
        }
    }

    // wide modifiers
    .ff_container-modal {
        &__overlay--wide {}
        &__content--wide {
            #ff_container-modal > .content > .wide > .position;
        }
    }

    // compact-form modifiers
    .ff_container-modal {
        &__overlay--compact-form {}
        &__content--compact-form {
            #ff_container-modal > .content > .compact-form > .position;
        }
    }
}

