#ff_container-modal() {

    .overlay() {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 999;
    }
    .content() {
        .core() {
            position: absolute;
            outline: none;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        .default() {
            .style() {
                padding: 0;
                border: none;
            }
            .position() {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                max-height: 100%;
            }
        }
        .medium() {
            .style() {
                border-radius: 4px;
                box-shadow: 1px 5px 0px 0px rgba(0,0,0,0.25);
                overflow: hidden;
            }
            .position() {
                width: 50%;
                min-width: 400px;
            }
        }
        .compact() {
            .position() {
                width: 25%;
                min-width: 340px;
            }
        }
        .wide() {
            .position() {
                width: 70%;
                min-width: 340px;
            }
        }
        .fixedheight() {
          .position() {
            left: 50%;
            bottom: 0;
            top: 0;
            transform: translate(-50%, 0);
          }
        }
    }
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ff_container-modal {
    &__overlay {
        #ff_container-modal > .overlay;
    }
    &__overlay--notification {
      z-index: 1000;
    }
    &__content {
        #ff_container-modal > .content > .core;
        #ff_container-modal > .content > .default > .style;
        #ff_container-modal > .content > .default > .position;
    }
}

@media (min-width: @ff_bp_narrow) {

    // default (no mods)
    .ff_container-modal {
        &__content {
            #ff_container-modal > .content > .medium > .style;
            #ff_container-modal > .content > .medium > .position;
        }
    }

    // compact modifiers
    .ff_container-modal {
        &__overlay--compact {}
        &__content--compact {
            #ff_container-modal > .content > .compact > .position;
        }
    }

    // notification modifiers
    .ff_container-modal {
        &__overlay--notification {}
        &__content--notification {
            #ff_container-modal > .content > .compact > .position;
        }
    }

    // wide modifiers
    .ff_container-modal {
        &__overlay--wide {}
        &__content--wide {
            #ff_container-modal > .content > .wide > .position;
        }
    }

}


@media (max-height: @ff_bp_dialog_height) {

  .ff_container-modal {
        //fixed-height modifiers
        &__content--fixed-height {
          #ff_container-modal > .content > .fixedheight > .position;
        }
        &__content--fixed-height-wide {
          #ff_container-modal > .content > .wide > .position;
          #ff_container-modal > .content > .fixedheight > .position;
        }
  }

}
