.ff_module-formsteps {
    margin:0;
    padding:0;
    list-style: none;
}

.ff_module-formstep {
    display: inline-block;
    text-align: center;
    &__link {
        #ff_mix-base-links > .default();
        display: block;
    }
    &__icon {
        border: 2px solid @ff_color_control_link;
        border-radius: 50%;
    }
}
