// ------------------------------------------------------------- //
// .ff-messages
// ------------------------------------------------------------- //
.ff-avatar {
	display: block;
	border: 1px solid @ff_dashboard_c_border;
	padding: 1px;
	background-color: white;
	max-width: 100%;
	#ff > .box-sizing();
	#ff > .rounded(2px);
}