// ------------------------------------------------------------- //
// .ff-navigation
// ------------------------------------------------------------- //
.ff-navigation {
	padding: 0;
	margin: 0;
	#ff > .clearfix();
	#ff_dashboard > .normalise();
	margin-bottom: -1 * @ff_dashboard_spacing;
	
	li {
		list-style: none;
		display: block;
		float: left;
		margin: 0;
		margin-right: @ff_dashboard_spacing;
		margin-bottom: @ff_dashboard_spacing;
		
		&:after {
			content: "|";
			margin-left: @ff_dashboard_spacing;
			color: @ff_dashboard_c_border;
		}
		
		&:last-child:after {
			display: none;
		}
		
	}
	
	a {
		color: @ff_dashboard_c_link;
		text-decoration: none;
	}
	
	.ff-comment & {
		display: block;
		margin-top: @ff_dashboard_spacing*2;
	}
	
}

//in popover

.ff-popover .ff-navigation {
    
    li {
        float: none;
        
        
        a {
            display: block;
        }
        
        &:after {
            margin: 0;
            display: none;
        }
        
    }
    
}