// ------------------------------------------------------------- //
// .ff-progress
// ------------------------------------------------------------- //

.ff-messages .ff-progress {
	float: right;
	margin: -1*@ff_dashboard_spacing;
	width: 29%;
}

.ff-progress {
	background-color: @ff_dashboard_c_bg;
	//text-transform: uppercase;
	color: darken(@ff_dashboard_c_quiet,20%);
	font-size: 90%;
	padding: @ff_dashboard_spacing;
	border: 1px solid white;
	#ff_dashboard > .normalise();
	
	p {
		margin: 0;
	}
	
	.ff-actions {
		margin-top: @ff_dashboard_spacing;
	}
}

.ff-progress-bar {
	background-color: #fff;
	border: 1px solid #d5cfcf;
	height: 20px;
	padding: 3px;
	position: relative;
	#ff > .box-sizing();
	#ff > .rounded(10px);
	margin: @ff_dashboard_spacing 0;
	
	.ff-progress-completed,
	.ff-progress-marked {
		position: relative;
		display: block;
		height: 100%;
		overflow: hidden;
		background-color: #D1E3CD;
		#ff > .rounded(6px);
		
	}

	.ff-progress-marked {
		background-color: #5f9d4c;
		top: -100%;
		#ff > .box-shadow(1px 0 0 white;)
	}
	
}

.ff-progress-status {
	
	.ff-progress-status-waiting {
		
	}
	.ff-progress-status-complete {
		color: #5f9d4c;
	}
	
}