@font-face {
    font-family: 'ff-editor';
    src: url('ffeditor-regular.eot');
    src: url('ffeditor-regular.eot?#iefix') format('embedded-opentype'),
         url('ffeditor-regular.woff') format("woff"),
         url('ffeditor-regular.ttf') format("truetype"),
         url('ffeditor-regular.svg') format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'ff-editor';
		src: url('ffeditor-regular.svg') format('svg');
	}
}