body {
  padding: 30px 60px;
  background-color: #F7F7F7;
  font-family: 'firasans';
}

.pattern {
	padding: 20px;
	border: 1px dotted #EBB538;
	background-color: white;
	#ff > .clearfix();
}

.source {
	
	
	
	pre {
		margin: 0;
		padding: 20px;
		background-color: #3F3F3F;
		color: white;
		
		.nt {
    		color: #F9454C;
		}
		.na {
    		color: #4AE845;
		}
		.s {
    		color: #FCCA61;
		}
		
	}

	
}

nav {
	
	margin-bottom: 20px;
	
	ul {
		margin: 0;
		padding: 0;
		#ff > .flex-display();
	}	
	
	li {
		list-style: none;
		margin-right: 10px;
	}
	
	a {
		border: 1px solid #ccc;
		#ff > .rounded(3px);
		background: white;
		padding: 10px;
		color: #F12C40;
		text-decoration: none;
	}

}



@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-bold-webfont.eot');
    src: url('firasans/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-bold-webfont.woff2') format('woff2'),
         url('firasans/firasans-bold-webfont.woff') format('woff'),
         url('firasans/firasans-bold-webfont.ttf') format('truetype'),
         url('firasans/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-italic-webfont.eot');
    src: url('firasans/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-italic-webfont.woff2') format('woff2'),
         url('firasans/firasans-italic-webfont.woff') format('woff'),
         url('firasans/firasans-italic-webfont.ttf') format('truetype'),
         url('firasans/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-regular-webfont.eot');
    src: url('firasans/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-regular-webfont.woff2') format('woff2'),
         url('firasans/firasans-regular-webfont.woff') format('woff'),
         url('firasans/firasans-regular-webfont.ttf') format('truetype'),
         url('firasans/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-bolditalic-webfont.eot');
    src: url('firasans/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('firasans/firasans-bolditalic-webfont.woff') format('woff'),
         url('firasans/firasans-bolditalic-webfont.ttf') format('truetype'),
         url('firasans/firasans-bolditalic-webfont.svg#fira_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}


// --------- start firefly code ----------//
@import "normalise";
@import "utility"; //!!!!! this was updated !!!!! copy back into core !!!!!
@import "fonts";

@ff_dashboard_c_bg:            	#F2F2F2;
@ff_dashboard_c_bg_secondary:  	#DEF1FA;
@ff_dashboard_c_border:        	#B4B4B4;
@ff_dashboard_c_link:          	#366797;
@ff_dashboard_c_quiet:		  	#999999;

//priority colours
@ff_dashboard_c_red:	#E5002B;
@ff_dashboard_c_yellow:	#FFCD00;
@ff_dashboard_c_green:	#95AD01;	


//message/tag colours
@ff_message_grey:	#999999; 
@ff_message_red:	#D35447;
@ff_message_blue:	#2B97CE;
@ff_message_yellow:	#FFCD00;
@ff_message_green:	#98CE1E;
@ff_message_orange:	#FF9A00;
@ff_message_pink:	#FF97CC;
@ff_message_purple:	#9A63CE;

@ff_dashboard_rounded:         2px;
@ff_dashboard_spacing:         10px;
@ff_dashboard_text:            16px;
@ff_dashboard_headings:        20px;

//should this template get all the extra styling bits, or the old crappy styling for somethings?
//It's useful to turn this off when an existing template doesn't override a few of the newer styling bits
//In general, new templates should have this set on, and override.
@ff_dashboard_c_extras:		 'true'; 

#ff_dashboard {
	.normalise() {
		font-size: @ff_dashboard_text;
		line-height: 1;
	}
}

//layouts
.ff-content-primary {
	float: left;
	width: 74.5%;
	clear: both;
	#ff > .clearfix();
}
.ff-content-secondary {
	float: right;
	width: 23.5%;
	#ff > .clearfix();
}

@import "_ff-button";
@import "_ff-actions";
@import "_ff-nav-switch";
@import "_ff-dropdown";
@import "_ff-button-with-dropdown";
@import "_ff-nav-filter";
@import "_ff-nav-filter";
@import "_ff-dashboard-panel";
@import "_ff-messages";
@import "_ff-labels-color";
@import "_ff-progress";
@import "_ff-links-list";
@import "_ff-avatar";
@import "_ff-users";
@import "_ff-group-listing";
@import "_ff-icon";
@import "_ff-navigation";
@import "_ff-label";
@import "_ff-pagination";
@import "_ff-filter";
@import "_ff-heading";
@import "_ff-tags";
@import "_ff-post-footer";
@import "_ff-interface-form";

