body {
  font-family: 'firasans';
}

nav.site-nav {
    width: 20%;
    background: #373737;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: visible;
    left: 0;
    #ff > .box-sizing();
    padding: 20px;
    
    ul {
        padding: 0;
        margin: 0 0 0 20px;
    }
    
    li {
       list-style: none;
       display: block;
    }
    
    a, li {
        color: white;
        text-decoration: none;
    }
    
    a {
        padding: 5px;
        display: inline-block;
        &:before {
            display: inline-block;
            border-left: 1px solid white;
        }
    }
    
    
}
main.site-content {
    float: right;
    width: 80%;
    background-color: #F7F7F7;
    #ff > .box-sizing();
    padding: 40px;
} 

.pattern {
	padding: 20px 20px 60px 20px;
	border: 1px dashed #ccc;
	background-color: white;
	#ff > .clearfix();
}

.source {
	
	position: relative;
    
    .show-source {
        border: 1px solid #ccc;
        position: absolute;
        font-size: 14px;
        line-height: 1;
        padding: 10px;
        top: -36px;
        right: 0;
        color: #aaa;
        #ff > .border-radius(0,0,0,3px);
        text-decoration: none;
        background: #F7F7F7;
    }
	
	
	pre {
    	display: none;
		margin: 0;
		padding: 20px;
        background-color: #3F3F3F;
		
		color: white;
		
		.nt {
    		color: #F9454C;
		}
		.na {
    		color: #4AE845;
		}
		.s {
    		color: #FCCA61;
		}
		
	}

	
}

.tags {
    padding: 20px;
	border: 1px dashed #ccc;
	border-top: none;
	background-color: white;
	#ff > .clearfix();
	
	ul {
    	padding: 0;
    	margin: 0;
	}
	
	li {
    	display: inline-block;
    	margin-right: 5px;
    	list-style: none;
	}
	
}

.title {
    margin: 20px 0;
    color: #4c4c4c;
}

h1.title {
    font-size: 54px;
}
h2.title {
    font-size: 34px;
    border-bottom: 1px solid #373737;
    margin: 20px -40px;
    padding: 0 40px 20px 40px;
    color: #373737;
}
h3.title {
    font-size: 22px;
}

//fira
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-bold-webfont.eot');
    src: url('firasans/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-bold-webfont.woff2') format('woff2'),
         url('firasans/firasans-bold-webfont.woff') format('woff'),
         url('firasans/firasans-bold-webfont.ttf') format('truetype'),
         url('firasans/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-italic-webfont.eot');
    src: url('firasans/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-italic-webfont.woff2') format('woff2'),
         url('firasans/firasans-italic-webfont.woff') format('woff'),
         url('firasans/firasans-italic-webfont.ttf') format('truetype'),
         url('firasans/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-regular-webfont.eot');
    src: url('firasans/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-regular-webfont.woff2') format('woff2'),
         url('firasans/firasans-regular-webfont.woff') format('woff'),
         url('firasans/firasans-regular-webfont.ttf') format('truetype'),
         url('firasans/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'firasans';
    src: url('firasans/firasans-bolditalic-webfont.eot');
    src: url('firasans/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('firasans/firasans-bolditalic-webfont.woff') format('woff'),
         url('firasans/firasans-bolditalic-webfont.ttf') format('truetype'),
         url('firasans/firasans-bolditalic-webfont.svg#fira_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

//akko
@font-face {
    font-family: 'akko';
    src: url('akko/7346b694-65fb-4f80-90e3-ede94b47bd0c.eot');
    src: url('akko/7346b694-65fb-4f80-90e3-ede94b47bd0c.eot?#iefix') format('embedded-opentype'),
         url('akko/5aedf8f4-d625-413b-b10e-83054289fd6b.woff') format('woff'),
         url('akko/1a6b1d0c-b476-4409-87b4-b86af7cf2a58.ttf') format('truetype'),
         url('akko/a780ffb6-dac6-463b-b3a7-cce65fef64e5.svg#akko') format('svg');
    font-weight: bold;
    font-style: normal;
}

.ff-font-akko {
    font-family: 'akko';
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.icons-set-preview {
    #ff > .flex-display();
    #ff > .flex-wrap(wrap);
    
    .icon-preview {
        border: 1px solid #ccc;
        background: white;
        width:113px;
        margin: 20px;
        padding: 10px;
        #ff > .box-sizing();
        
        &:before {
            display: block;
            float: none;
            text-align: center;
            margin-bottom: 10px;
            font-size: 42px;
        }
        
        p {
            margin: 0;
            font-size: 12px;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
        
    }
    
}


// --------- start firefly code ----------//
@import "normalise";
@import "utility"; //!!!!! this was updated !!!!! copy back into core !!!!!
@import "fonts";

@ff_dashboard_c_bg:            	#F2F2F2;
@ff_dashboard_c_bg_secondary:  	#DEF1FA;
@ff_dashboard_c_border:        	#B4B4B4;
@ff_dashboard_c_link:          	#366797;
@ff_dashboard_c_quiet:		  	#999999;

//priority colours
@ff_dashboard_c_red:	#E5002B;
@ff_dashboard_c_yellow:	#FFCD00;
@ff_dashboard_c_green:	#95AD01;	
@ff_dashboard_c_blue:   #2B97CE;


//message/tag colours
@ff_message_grey:	#999999; 
@ff_message_red:	#D35447;
@ff_message_blue:	#2B97CE;
@ff_message_yellow:	#FFCD00;
@ff_message_green:	#98CE1E;
@ff_message_orange:	#FF9A00;
@ff_message_pink:	#FF97CC;
@ff_message_purple:	#9A63CE;

@ff_dashboard_rounded:         2px;
@ff_dashboard_spacing:         10px;
@ff_dashboard_text:            16px;
@ff_dashboard_headings:        20px;

#ff_dashboard {
	.normalise() {
		font-size: @ff_dashboard_text;
		line-height: 1;
	}
}

//layouts
.ff-content-primary {
	float: left;
	width: 74.5%;
	clear: both;
	#ff > .clearfix();
}
.ff-content-secondary {
	float: right;
	width: 23.5%;
	#ff > .clearfix();
}

@import "_ff-button";
@import "_ff-actions";
@import "_ff-nav-switch";
@import "_ff-dropdown";
@import "_ff-button-with-dropdown";
@import "_ff-nav-filter";
@import "_ff-nav-filter";
@import "_ff-dashboard-panel";
@import "_ff-messages";
@import "_ff-labels-color";
@import "_ff-progress";
@import "_ff-links-list";
@import "_ff-avatar";
@import "_ff-users";
@import "_ff-group-listing";
@import "_ff-icon";
@import "_ff-navigation";
@import "_ff-label";
@import "_ff-pagination";
@import "_ff-filter";
@import "_ff-heading";
@import "_ff-tags";
@import "_ff-post-footer";
@import "_ff-interface-form";
@import "_ff-alertbox";
@import "_ff-table";
@import "_ff-file-list";