body {
  padding: 30px 60px;
}

.pattern {
	padding: 20px;
	border: 1px dotted blue;
}


// --------- start firefly code ----------//
@import "normalise";
@import "utility"; //!!!!! this was updated !!!!! copy back into core !!!!!
@import "fonts";

@ff_dashboard_c_bg:            	#F2F2F2;
@ff_dashboard_c_bg_secondary:  	#DEF1FA;
@ff_dashboard_c_border:        	#B4B4B4;
@ff_dashboard_c_link:          	#366797;
@ff_dashboard_c_quiet:		  	#999999;


//message/tag colours
@ff_message_grey:	#CACCCE; 
@ff_message_red:	#EF3535;
@ff_message_blue:	#3D83CA;
@ff_message_yellow:	#F8E71C;
@ff_message_green:	#6EC310;
@ff_message_orange:	#F5A623;
@ff_message_pink:	#F91BD2;
@ff_message_purple:	#8702FB;

@ff_dashboard_c_rounded:         2px;
@ff_dashboard_c_spacing:         10px;
@ff_dashboard_c_text:            16px;
@ff_dashboard_c_headings:        20px;

//should this template get all the extra styling bits, or the old crappy styling for somethings?
//It's useful to turn this off when an existing template doesn't override a few of the newer styling bits
//In general, new templates should have this set on, and override.
@ff_dashboard_c_extras:		 'true'; 

#ff_dashboard {
	.normalise() {
		font-size: @ff_dashboard_c_text;
		line-height: 1;
	}
}

@import "_ff-button";
@import "_ff-actions";
@import "_ff-nav-switch";
@import "_ff-dropdown";
@import "_ff-button-with-dropdown";
@import "_ff-nav-filter";
@import "_ff-nav-filter";
@import "_ff-messages";
@import "_ff-labels-color";
@import "_ff-progress";




// ------------------------------------------------------------- //
// .ff-icon
// ------------------------------------------------------------- //

.ff-icon-define() {
	display: block;
	font-family: 'ff-editor';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.ff-icon:before {
  .ff-icon-define();
  margin-right: 4px;
  float: left;
}

.ff-icon-comment-add:before {
  content: "\e052";
}
.ff-icon-selected:before {
  content: "\e014";
}
.ff-icon-bookmark:before {
  content: "\e042";
}
.ff-icon-task-add:before {
  content: "\e010";
}
.ff-icon-archive:before {
  content: "\e09F";
}
.ff-icon-close:before {
	content: '\e017';
}

//after icons
.ff-icon-dropdown:after {
  .ff-icon-define();
  content: "\e006";
  float: right;
}