---
layout: default
title: All Controls
---

{% for post in site.posts reversed %}
    <h2>{{ post.title }}</h2>
    <div class="pattern">
        {{ post.content }}
    </div>
    <div class="source">
        <a href="#" class="show-source">Show Source</a>
        {% highlight xslt linenos %}
        {{ post.content }}
        {% endhighlight %}
    </div>
    <div class="tags">
       <ul>
           {% for tag in post.tags %}
           <li>#{{ tag }}</li>
           {% endfor %}
       </ul> 
    </div>
{% endfor %}