.ff_container-tabs-content {
    border: 1px solid @ff_colour_control_border;
    border-radius: @ff_size_control_rounding;
    border-top-left-radius: 0;
    padding: @ff_size_spacing_med @ff_size_spacing_max;
    background: #fff;
    display: none;

    &--active {
        display: block;
    }

    &--constrained-height {
        height: 30rem;
    }
}
