
// FIX ME
// this is a temporary fix for lack of prefixing on the backend, so can be removed once that's working.
#ff_grid-columnar() {
	.columns (@num) {
		-moz-column-count: @num;
		-webkit-column-count: @num;
		column-count: @num;
	}
	.column-gap (@size) {
		-moz-column-gap: @size;
		-webkit-column-gap: @size;
		column-gap: @size;
	}
}
// 

.ff_grid-columnar {
	.ff_grid-columnar__column {
		#ff_grid-columnar >.column-gap(2.5rem);
	}
	.ff_grid-columnar__column > * {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		margin: @ff_size_control_vertical 0;

	}
}
.ff_grid-columnar--two-column {
	.ff_grid-columnar__column {
		#ff_grid-columnar >.columns(2);
	}
}
.ff_grid-columnar--three-column {
	.ff_grid-columnar__column {
		#ff_grid-columnar >.columns(3);
	}
}
.ff_grid-columnar--four-column {
	.ff_grid-columnar__column {
		#ff_grid-columnar >.columns(4);
	}
}

// Fluid columns i.e. responsive
.ff_grid-columnar--fluid {
	.ff_grid-columnar__column {
		#ff_grid-columnar >.columns(1);
		@media (min-width: @ff_bp_wide) {
			#ff_grid-columnar >.columns(2);
		}
	}
}