
.ff_module-form-summary {
    #ff_mix-title-box > .border;
    &__header {
        #ff_mix-title-box > .header;
    }
    &__title {
        #ff_mix-util-prose > .text-default();
    }
    &__content {
        #ff_mix-title-box > .content;
    }

    &__list {
        // #ff_mix-util-prose > .definition-list();
        #ff_mix-util-prose > .text-default();
        margin: 0 @ff_size_control_horizontal;
    }
    &__list-item-title {
        #ff_mix-util-prose > .text-default();
        #ff_mix-util-prose > .text-quiet();
        margin-top: @ff_size_control_vertical;
        margin-bottom: @ff_size_control_vertical*0.5;
        &:first-child {
            margin-top: 0;
        }
    }
    &__list-item-data {
        #ff_mix-util-prose > .text-default();
        margin-bottom: @ff_size_control_vertical*0.35;
    }
    &__list-item-link {
        #ff_mix-util-prose > .link-no-decoration();
    }

}
