
.ff_module-class-view-week {
    border: 1px solid @ff_colour_control_border;
    border-radius: 2px;
    background-color: #f8f8f8;
    overflow: hidden;
    &__content {
        padding: @ff_size_control_vertical*0.75 0;
        #ff_mix-class-view > .color-block-sm();
        padding-left: @ff_size_control_horizontal*0.5;
    }
    @media screen and (min-width:@ff_planner_week_bp_med) {
        &__content {
            padding: @ff_size_control_vertical 0;
            #ff_mix-class-view > .color-block-md();
            padding-left: @ff_size_control_horizontal;
        }
    }
}

// **** BETT 2017 COLOUR HACK, REMOVE AFTER BETT ****

@planner_colour_1:  #7CB75B;
@planner_colour_2: #D8739D;
@planner_colour_3: #51C6B7;
@planner_colour_4: #8950A1;
@planner_colour_5: #5DADE2;
@planner_colour_6: #FCC200;

.ff_module-planner-grid-week__row:nth-child(1n) {
    .ff_module-planner-grid-week__item:nth-child(1n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_1;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(2n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_2;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(3n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_3;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(4n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_4;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(5n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_5;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(6n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_6;
        }
    }
}
.ff_module-planner-grid-week__row:nth-child(2n) {
    .ff_module-planner-grid-week__item:nth-child(1n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_6;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(2n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_5;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(3n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_4;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(4n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_3;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(5n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_2;
        }
    }
    .ff_module-planner-grid-week__item:nth-child(6n) {
        .ff_module-class-view-week__content {
            border-left-color: @planner_colour_1;
        }
    }
}
