.ff_module-task {
    margin: 0;
    padding: @ff_size_control_vertical @ff_size_control_horizontal;
}

.ff_module-task__item {
    margin: 0 0 @ff_size_control_vertical 0;
    #ff_mix-base-text > .label();
}


.ff_module-task__link {
    #ff_mix-base-links > .default();
}

.ff_module-task__meta {
    #ff_mix-base-text > .quiet();
    margin-top: @ff_size_control_vertical;
}