#ff_module-button() {
    .block() {
        width: 100%;
    }
}

.ff_module-button {
    box-sizing: border-box;
    cursor: pointer;
    #ff_mix-base-box > .default();
    #ff_mix-base-box > .isolate();
    #ff_mix-segments > .link--base();

    &--primary {

    }
    //large
    &--large {

    }
    &--primary-large {

    }
    //tertiary
    &--tertiary {

    }
    &--tertiary-large {

    }

    // compact
    &--compact {

    }
    &--primary-compact {

    }
    &--tertiary-compact {

    }


    //block
    &--block {
       #ff_module-button > .block();
    }
    &--primary-block {
       #ff_module-button > .block();
    }
    &--large-block {
       #ff_module-button > .block();
    }
    &--primary-large-block {
        #ff_module-button > .block();
    }
    &--tertiary-block {
        #ff_module-button > .block();
    }
    &--tertiary-large-block {
        #ff_module-button > .block();
    }

    &--compact-block {
        #ff_module-button > .block();
    }
    &--primary-compact-block {
        #ff_module-button > .block();
    }
    &--tertiary-compact-block {
        #ff_module-button > .block();
    }

    &--is-disabled {
        cursor: default;
    }
}

.ff_module-button__content {

    &--hidden {
        display: none;
    }

}
