.ff_container-overlay {
    &__bar {
      background-color: fade(mix(@ff_colour_melody_int_main, #ffffff, 7.5%), 90%);
    }
    &__bar-content {
      padding: @ff_size_spacing_min;
      @media (min-width: 360px) {
        padding: @ff_size_spacing_min * 2;
      }
      @media all and (min-width: @ff_bp_medium) {
        padding: @ff_size_spacing_max @ff_size_spacing_max * 2;
      }
    }
}

// Individual variations
.ff_container-overlay {
    &--task-event-scrollable &__bar {
        margin-right: -1px;
    }
    &--task-event-scrollable-top &__bar{
        background-color: @ff_colour_melody_int_main;
        border-color: @ff_colour_melody_dk_main;
    }


    &--task-event-scrollable-top-cannot-edit &__body {
        margin-top: 0;
    }
    &--task-event-scrollable-top-cannot-edit &__bar {
        display: none;
    }
    &--task-event-scrollable-top-cannot-edit &__bar-content {
        padding: 0;
    }
}
