.ff_container-overlay {

    &__bar {
      background-color: fade(mix(@ff_color_control_link, #ffffff, 25%), 85%);
      min-height: 1rem;
      z-index: @ff_fixed_control_z-index;
      left: 0;
      right: 0;
    }

    &__bar-content {
        max-width: 87.5rem;
        margin: 0 auto;
        padding: 3*@ff_size_control_vertical 2.5*@ff_size_control_horizontal;
    }

    //fixed-bottom
    &--fixed-bottom &__bar {
        position: fixed;
        top: auto;
        bottom: 0;
    }
    &--fixed-bottom &__body {
        padding-bottom: 10*@ff_size_control_vertical;
        padding-top: 0;
    }

    //fixed-top
    &--fixed-top &__bar {
        position: fixed;
        bottom: auto;
        top: 0;
    }
    &--fixed-top &__body {
        padding-top: 10*@ff_size_control_vertical;
        padding-bottom: 0;
    }

    //absolute-bottom (snigger)
    &--absolute-bottom &__bar {
        position: absolute;
        top: auto;
        bottom: 0;
    }
    &--absolute-bottom &__body {
        padding-bottom: 10*@ff_size_control_vertical;
        padding-top: 0;
    }

    //absolute-top
    &--absolute-top &__bar {
        position: absolute;
        bottom: auto;
        top: 0;
    }
    &--absolute-top &__body {
        padding-top: 10*@ff_size_control_vertical;
        padding-bottom: 0;
    }

}


// Individual variations
.ff_container-overlay {
    &--task-event-scrollable &__bar {
        left: 30%;
    }
    &--task-event-scrollable-top &__body{
        padding-top: 57px;
    }
    &--task-event-scrollable-top &__bar{
        background-color: lighten(@ff_colour_control_bg, 3%);
        border: 1px solid @ff_colour_control_border;
        border-top:0;
        border-right: 0;
    }
    &--task-event-scrollable-top &__bar-content {
        padding: @ff_size_control_vertical @ff_size_control_horizontal;
    }
}
