#ff_mix-form-pair() {
    .root {
        margin: @ff_size_spacing_max 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // IE 10
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
    }
    .item {
        vertical-align: top;
        display: inline-block;
        @media (max-width: 600px) {
             max-width: 85%;
         }
    }
    .constrained {
      max-width: @ff_size_spacing_min * 15;
      @media (min-width: @ff_bp_wide) {
        max-width: @ff_size_spacing_min * 20;
      }
        flex-grow: 1;
        box-sizing: border-box;
    }
    .mini {
        max-width: @ff_size_spacing_min * 5.5;
        flex-grow: 1;
        box-sizing: border-box;
    }
    .fullwidth {
        flex-grow: 1;
        // IE 10
        -ms-flex: 1 auto;
    }
    .stacked {
        flex-grow: 1;
        width: 100%;
        // IE 10
        -ms-flex-direction: column;
    }
}

.ff_module-form-pair {
    >* {
        #ff_mix-form-pair > .item;
    }
    >*:nth-last-child(n+2) {
        margin-left: 0;
        margin-right: @ff_size_spacing_min;
    }
    &--stacked {
        box-sizing: border-box;
        padding-left: 30px;
        #ff_mix-form-pair > .stacked;
        &>*:first-child {
            margin-left: -30px;
        }
    }
}

.ff_module-form-checkable-list {
    #ff_mix-util-prose > .list-remove-defaults;
    &__item,
    &__item--inline {
        display: inline-block;
    }
    &__item--inline {
        margin-right: @ff_size_spacing_min * 2.5;
    }
    &__item--stacked {
        display: block;
        line-height: 1.2;
    }
    &__item--stacked:nth-last-child(n+2) {
        margin-bottom: @ff_size_spacing_min * 0.8;
    }
}
