{% import "../macros/ui.html"  as ui %}

<div class="crate_blocks">
    {% for file in blocklist %}
    <div class="crate_blocks__item" id="{{file.title}}">
        <h3 class="crate_blocks__item__heading">{{file.title}}</h3>
        <div class="crate_blocks__content">
            {% include file.path %}
        </div>
        <div class="crate-block__source">
            {#{% call ui.outputSource() -%}
            {% include file.path %}
            {%- endcall %}#}
        </div>
        <a href="{{file.link}}" class="crate_blocks__item__link"><span class="crate_blocks__item__link__text">View block</a></a>
    </div>
    {% endfor %}
</div>

