#ff_mix-util-prose() {
    .heading-default {
        color: @ff_colour_control_text;
        font-weight: normal;
        #ff_mix-util-prose > .spacing();
        margin-top: @ff_size_prose_top_spacing;
    }
    .h1 {
        font-size: 32rem/@ff_base;
        line-height: 36/32;
    }
    .h2 {
        font-size: 28rem/@ff_base;
        line-height: 32/28;
    }
    .h3 {
        font-size: 21rem/@ff_base;
        line-height: 24/21;
    }
    .h4 {
        font-size: 18rem/@ff_base;
        line-height: 21/18;
        font-weight: bold;
    }

    .text-default {
        line-height: 21/@ff_base;
        font-size: 16rem/@ff_base;
        color: @ff_colour_control_text;
    }
    .text-small {
        font-size: 14rem/@ff_base;
        line-height: 16/14;
    }
    .text-left-blank {
        font-size: 12rem/@ff_base;
        line-height: 14/12;
        font-style: italic;
    }
    .text-quiet {
        color: @ff_colour_text_quiet;
    }
    .link-with-decoration {
        text-decoration: underline;
        color: @ff_color_control_link;
        &:visited {
            color: darken(@ff_color_control_link, 10%);
        }
        &:active, &:hover {
            color: lighten(@ff_color_control_link, 10%);
        }
    }
    .link-no-decoration {
        text-decoration: none;
        color: @ff_color_control_link;
        &:visited {
            color: darken(@ff_color_control_link, 10%);
        }
        &:active, &:hover {
            color: lighten(@ff_color_control_link, 10%);
        }
    }
    .spacing {
        margin-bottom: @ff_size_prose_spacing;
    }

    .list-parent {
        list-style-position: outside;
        margin-left: 20rem/@ff_base;
        padding-left: 0;
        // margin-left: @ff_size_prose_spacing;
        // list-style-position: inside;
    }
    .list-child {
        margin-top: @ff_size_prose_spacing;
        margin-left: @ff_size_prose_spacing;
    }
    .list-item-spacing {
        margin-bottom:11rem/@ff_base;
    }

    .img-default {
        display: block;
        max-width: 100%;
    }
    .caption {
        font-size: 70%;
        color: @ff_colour_primary;
        font-style: italic;
        border-bottom: 1px solid @ff_colour_control_border;
    }
}


.ff_util-prose {
    *:last-child {
        margin-bottom: 0;
    }
    // Headings
    h1, h2, h3, h4, h5, h6,
    &__panel-heading,
    &__sub-heading,
    &__column-heading,
    &__text--big {
        #ff_mix-util-prose > .heading-default();
    }
    h1, &__panel-heading {
        #ff_mix-util-prose > .h1();
    }
    h2, &__sub-heading {
        #ff_mix-util-prose > .h2();
    }
    h3, &__column-heading, &__text--big {
        #ff_mix-util-prose > .h3();
    }
    h4 {
        #ff_mix-util-prose > .h4();
    }

    // Basic text

    p, &__text, &__text--small, &__left-blank,
    dl,
    time, &__time, &__time--supporting {
        #ff_mix-util-prose > .text-default();
        #ff_mix-util-prose > .spacing();
    }

    &__text--small {
        #ff_mix-util-prose > .text-small();
    }
    &__time--supporting {
        #ff_mix-util-prose > .text-quiet();
    }
    &__left-blank {
        #ff_mix-util-prose > .text-quiet();
        #ff_mix-util-prose > .text-left-blank();
    }

    // Link styles

    a {
      #ff_mix-util-prose > .link-with-decoration();
    }


    h1,h2,h3,h4,h5,h6,
    &__panel-heading,
    &__sub-heading,
    &__column-heading,
    &__text--big {
        a {
          #ff_mix-util-prose > .link-no-decoration();
        }
    }



    // lists

    ul  {
        list-style: disc;
        ul {
          list-style: circle;
          ul {
            list-style: square;
          }
        }
    }

    ol {
        list-style: decimal;
        ol {
          list-style: lower-roman;
          ol {
            list-style: lower-latin;
          }
        }
    }
    dl > dt,  {
        font-weight: bold;
    }
    dl > dt, dl > dd {
        #ff_mix-util-prose > .list-item-spacing();
    }



    ul, ol {
        #ff_mix-util-prose > .list-parent();
        #ff_mix-util-prose > .text-default();
        #ff_mix-util-prose > .spacing();
        ul, ol {
            #ff_mix-util-prose > .list-child();
            margin-top: @ff_size_prose_spacing;
        }
    }
    li {
        padding-left:10rem/@ff_base;
        #ff_mix-util-prose > .list-item-spacing();
    }


    // media

    img {
        #ff_mix-util-prose > .img-default();
        #ff_mix-util-prose > .spacing();
    }

    figure {
        #ff_mix-util-prose > .spacing();
        figcaption {
            #ff_mix-util-prose > .caption();
        }

    }

    // Misc
    hr, table {
        #ff_mix-util-prose > .spacing();
    }
}
