@planner-border-primary: @ff_colour_control_border; //#b4b4b4;
@planner-border-default: fade(@ff_colour_control_border, 50%);

@planner-bg-header-row: #f8f8f8;
@planner-bg-header-col: fade(@ff_colour_control_border, 50%);
@planner-bg-default: #f3f3f3;
@planner-bg-primary: #fff;

@planner-text-color-default: #444;

#ff_mix-planner-grid-week() {
    .header {
        .sm {}
        .md {}
        .lg {}
    }
}

.ff_module-planner-grid-week {}
