.ff_module-planner-preview {
    @media (min-width:@ff_bp_narrow) {
        display: flex;
        justify-content: space-between;
    } 
}

.ff_module-planner-preview__events {
    padding: 0;
    margin: 0;
    @media (min-width:@ff_bp_narrow) {
     float: left;//flexbox backup   
    }
}

.ff_module-planner-preview__events--now,
.ff_module-planner-preview__events--next {
    flex-grow: 2;
    .ff_module-planner-preview__data--subject {
        font-size: 180%;
    }
}

.ff_module-planner-preview__events--next,
.ff_module-planner-preview__events--later {
    @media (min-width:@ff_bp_narrow) {
        border-left: 1px solid @ff_colour_control_border;
    }   
}

.ff_module-planner-preview__event {
    list-style: none;
    display: block;
    padding: @ff_size_control_vertical;
}

.ff_module-planner-preview__events--later .ff_module-planner-preview__label {
    display: none;
}
.ff_module-planner-preview__events--later .ff_module-planner-preview__event:first-child .ff_module-planner-preview__label {
    display: block;
}

.ff_module-planner-preview__data,
.ff_module-planner-preview__label {
    #ff_mix-base-text > .label();
    #ff_mix-base-text > .in-tight-list();
}

.ff_module-planner-preview__data--date,
.ff_module-planner-preview__data--location {
    #ff_mix-base-text > .quiet();
}

.ff_module-planner-preview__link {
    #ff_mix-base-links > .default();
}