.ff_module-date-stepper {
    color: @ff_colour_control_text;

    &__title {
        font-weight: normal;
        #ff_mix-base-text > .vertical-align();
    }
    &__title--type {
        font-weight: bold;
        margin-right: @ff_size_control_horizontal * 0.35;
    }
    &__title--date{}
    &__link {
        #ff_mix-base-text > .vertical-align();
        margin: 0;
    }
    &__link--prev {
        margin-right: @ff_size_control_horizontal/2;
    }
    &__link--next {
        margin-left: @ff_size_control_horizontal/2;
    }
}
