.ff_container-bordered-box {
	border: 1px solid @ff_colour_control_border;
    padding: @ff_size_spacing_max;
}
	.ff_container-bordered-box--inset-box-shadow {
		box-shadow: 0 0 1px 1px @ff_colour_control_border inset;
	}
