.ff_module-responses {
	width: 100%;
	border-collapse: collapse;
	border:2px solid @ff_colour_control_border;
	max-height: 585px;
	box-sizing: border-box;
	position: relative;
	overflow-y: auto;
	@media (min-width: @ff_bp_medium) {
		display: flex;
		align-items: stretch;
	}
	display: block;
	&__content {
		@media (min-width: @ff_bp_medium) {
			float:right;
			width: 70%;
			flex: 1 0 70%;
			overflow-y: auto;
			background: @ff_colour_control_bg;
			display: block;
		}
		position: relative;
		display: none;
		overflow-y: auto;
		background: @ff_colour_control_bg;
		&--smallscreen {
			@media (min-width: @ff_bp_medium) {
				display: none;
			}
			display: block;
		}
	}
	&__recipients {
		@media (min-width: @ff_bp_medium) {
			float:left;
			width: 30%;
			flex: 1 0 30%;
			overflow-y: auto;
			border-right: 1px solid @ff_colour_control_border;
		}
		position: relative;
		overflow-y: auto;
	}
}