.ff_container-control-bar {
    display: flex;
    width: 100%;

    &--split {
       justify-content: space-between;
    }

    &--centered {
        justify-content: center;
    }
    &--right {
        justify-content: flex-end;
    }

}

.ff_container-control-bar__group {
    display: flex;
    align-items: center;
    >* {
        float: left; //backup for no flexbox
    }
    > *:nth-last-child(n+2) {
        margin-right: @ff_size_control_horizontal;
    }
    > *:only-child {
        margin-right: @ff_size_control_horizontal;
    }
}
