.ff_container-control-bar {
    display: flex;
    width: 100%;

    &--split {
       justify-content: space-between;
    }

    &--centered {
        justify-content: center;
    }
    &--right {
        justify-content: flex-end;
    }

}

.ff_container-control-bar__group {
    display: flex;
    align-items: center;
}

.ff_container-control-bar__title {
    margin: 0;
}
