.ff_container-control-bar {
    display: flex;
    width: 100%;
    
    &--split {
       justify-content: space-between; 
    }
    
    &--centered {
        justify-content: center;
    }
    
}

.ff_container-control-bar__group {
    display: flex;
    align-items: center;
    >* {
        float: left; //backup for no flexbox
    }
    &:first-of-type >* {
        margin-right: @ff_size_control_horizontal;
    }
    &:last-of-type >* {
        margin-left: @ff_size_control_horizontal;
    }    
}