.ff_container-page-header {
    #ff_mix-sections > .header();
    padding: @ff_size_spacing_min;
    @media (min-width: @ff_bp_medium) {
      padding: @ff_size_spacing_min @ff_size_spacing_med;
    }

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.ff_container-page-header__title {
}
