.ff_module-task-event-status {

    display: inline-block;
    font-size: .875rem;

    // conceptually if not actually a child
    &__transition-wrapper {
        position: relative;
    }

    &__icon {
        margin-right: 0.25rem;
    }

    button&__error-button {
        font-size: .875rem;
    }
}
