.ff_module-recipient-picker {
    position: relative;
    &__main {
        #ff_mix-input > .root;
        #ff_mix-input > .default;
        display: flex;
        flex-wrap: wrap;
        max-height: 200px;
        overflow:auto;
        &:not([type="radio"]):not([type="checkbox"]) {
            padding: @ff_size_spacing_min * 0.25;
        }
        background: #fff;
        @media (max-width: @ff_bp_narrow) {
            max-height: 100%;
        }
    }
    &__selectable {
        display: none;
        #ff_mix-input > .root;
        #ff_mix-input > .default;
        background: #fff;
        margin:0;
        position: absolute;
        top:100%;
        z-index:2;
        left:20px;
        right:20px;
        max-height: 320px;
        overflow-y: scroll;

        &, &:not([type="radio"]):not([type="checkbox"]){
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top:none;
        }
    }
    &__input {
        flex: 1 1 auto;
    }
    &__selectable--is-active {
        display: block;
    }
}
