.ff_module-message {
    padding: @ff_size_control_vertical @ff_size_control_horizontal;
}

.ff_module-message__label {
    #ff_mix-util-prose > .text-default();
    #ff_mix-util-prose > .summary-list();
}

.ff_module-message__link {
    #ff_mix-util-prose > .link-no-decoration();
}

.ff_module-message__label--meta {
    #ff_mix-util-prose > .text-quiet();
    #ff_mix-util-prose > .text-small();
}

.ff_module-message__controls {
    top: @ff_size_control_vertical;
    right: @ff_size_control_vertical;
}