.ff_container-page-header {
    display: flex;
    align-content: space-between;
    align-items: center;
}

.ff_container-page-header__title,
.ff_container-page-header__controls {
    flex: 1;
}

.ff_container-page-header__title {
    #ff_mix-util-prose > .h1();
    margin: 0;
}