.ff_container-page-header {
    display: flex;
    align-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;

    &__controls {
      margin: auto;
    }

    &__title {
        #ff_mix-util-prose > .h1();
        margin: 0;
        flex:1;
    }

}
