.ff_module-lesson-plan-preview {
	border: 1px solid @ff_colour_control_border;
    border-radius: @ff_size_control_rounding / 2;
}

.ff_module-lesson-plan-preview__event,
.ff_module-lesson-plan-preview__note {
    margin: 0;
    padding: @ff_size_control_vertical @ff_size_control_horizontal;
}
.ff_module-lesson-plan-preview__link {
    #ff_mix-util-prose > .link-no-decoration();
}

.ff_module-lesson-plan-preview__note {
    border-top: 1px solid @ff_colour_control_border;
}

.ff_module-lesson-plan-preview__location {
    display: block;
}
