#ff_module-progress() {
    .marked() {
        background-color: darken(@ff_templatesetting_colour_sm_level0_bg,5%);
    }
    .completed() {
        background-color: lighten(desaturate(@ff_templatesetting_colour_sm_level0_bg, 25%), 15%);
    }
    .total() {
        background-color: @ff_colour_control_bg;
    }
}

//progress bars

.ff_module-progress {
    &__stacked {
        border: 1px solid @ff_colour_control_border;
        border-radius: @ff_size_control_rounding;
        height: @ff_size_control_vertical * 1.6;
        padding: 2px;
        box-sizing: border-box;
        overflow: hidden;
        #ff_module-progress > .total();
    }

    &__meta {
        display: none;
    }

    &__bar {
        float: left;
        height: 100%;

        &--completed {
            #ff_module-progress > .completed();
            border-radius: 0 @ff_size_control_rounding @ff_size_control_rounding 0;
        }

        &--marked {
            #ff_module-progress > .marked();
            border-radius: @ff_size_control_rounding 0 0 @ff_size_control_rounding;
        }

        &--lonely {
            border-radius: @ff_size_control_rounding;
        }
    }

    &__key {
        margin: @ff_size_control_vertical 0 0;
        padding: 0;
    }

    &__label {
        list-style: none;
        display: inline-block;
        #ff_mix-base-text > .small();
        #ff_mix-base-text > .quiet();

        &-value {
            font-weight: bold;
        }

        margin-right: @ff_size_spacing_max;
        &:last-child {margin-right: 0;}

        &:before {
            content: "";
            width: 1em;
            height: 1em;
            display: inline-block;
            float: left;
            border-radius: 50%;
            border: 1px solid @ff_colour_control_border;
            box-shadow:         inset 0px 0px 0 2px @ff_colour_control_bg;
            margin-right: @ff_size_spacing_min * .7;
        }

        &--completed:before {
            #ff_module-progress > .completed();
        }

        &--marked:before {
            #ff_module-progress > .marked();
        }

        &--total:before {
            #ff_module-progress > .total();
        }
    }
}
