.ff_container-form-line {

    #ff_mix-form-pair > .root;

    &__item {
        #ff_mix-form-pair > .item;
    }
    >*:nth-last-child(+n+2) {
        margin-left: 0;
        margin-right: @ff_size_spacing_min;
    }
    &__item--fullwidth {
        #ff_mix-form-pair > .fullwidth;
    }
    &__item--constrained {
        #ff_mix-form-pair > .constrained;
    }
    &__item--stacked {
        #ff_mix-form-pair > .stacked;
        &, &:nth-last-child(+n+2) {
            margin-right: 0;
        }
    }
}

.ff_container-form-line {
    // #ff_mix-form-pair > .root;
    // .ff_mix-clearfix;
    // &--fullwidth {
    //     #ff_mix-form-pair > .root-fullwidth;
    // }
    // &--fullwidth &__item--fullwidth {
    //     #ff_mix-form-pair > .fullwidth;
    // }
    // &--constrained {
    //     #ff_mix-form-pair > .root-fullwidth;
    // }
    // &--constrained &__item--constrained {
    //     #ff_mix-form-pair > .constrained;
    // }
    // &--stacked {
    //     #ff_mix-form-pair > .root-fullwidth;
    // }
    // &--stacked &__item--stacked {
    //     #ff_mix-form-pair > .stacked;
    // }
    // &--stacked-constrained {
    //     #ff_mix-form-pair > .root-fullwidth;
    // }
    // &--stacked-constrained &__item {
    // }
    // &--stacked-constrained &__item--stacked-constrained {
    //     #ff_mix-form-pair > .stacked;
    //     #ff_mix-form-pair > .constrained;
    //     clear:left;
    // }
    // &--stacked-fullwidth {
    //     #ff_mix-form-pair > .root-fullwidth;
    // }
    // &--stacked-fullwidth &__item--stacked-fullwidth{
    //     #ff_mix-form-pair > .stacked;
    //     #ff_mix-form-pair > .fullwidth;
    // }
}
