.ff_module-tabs-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: none;
    border-radius: @ff_size_control_rounding @ff_size_control_rounding 0 0;
    border: 1px solid @ff_colour_control_border;
    border-bottom: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -1px;
    position: relative;
    z-index:1;
}

.ff_module-tabs-navigation__tab {
    background: @ff_colour_control_bg;
    #ff_mix-base-box > .list-item();
    float: left;
    text-align: center;
    margin: 0;
    border-radius: 0;
    font-weight: normal;
    border-bottom: 1px solid @ff_colour_control_border;
}

.ff_module-tabs-navigation__link {
    text-decoration: none;
    #ff_mix-responsive-colour > .check-contrast(@ff_colour_control_bg, @ff_colour_control_text, #ffffff);
    padding: @ff_size_control_vertical @ff_size_control_horizontal;
    display: block;
    &:visited {
        #ff_mix-responsive-colour > .check-contrast(@ff_colour_control_bg, @ff_colour_control_text, #ffffff);
    }
    &:hover {
        #ff_mix-responsive-colour > .check-contrast(@ff_colour_control_bg, mix(@ff_colour_control_text, @c_accent, 50%), mix(#ffffff, @c_accent, 50%));
    }
    &:focus, a&:focus {
        outline: none;
    }
}

.ff_module-tabs-navigation__tab--is-active {
    background: #fff;
    border-bottom-color: transparent;
    border-top: none;
    border-left: none;
    margin: 0;
    padding: 0;

    .ff_module-tabs-navigation__link {
        color: @ff_colour_control_text;

        &:visited {
            color: @ff_colour_control_text;
        }
        &:hover {
            #ff_mix-responsive-colour > .check-contrast(#ffffff, mix(@ff_colour_control_text, @c_accent, 50%), mix(#ffffff, @c_accent, 50%));
        }
    }
}

.ff_module-tabs-navigation__badge {
  #ff_mix-responsive-colour > .check-contrast(@ff_color_control_link, @ff_colour_control_text, #ffffff);
  background-color: @ff_color_control_link;
  border-radius: @ff_size_control_rounding;
}
