/*
Begin outputs

This file is to isolate any variables that are compiled into the Firefly less
from the .NET environment */

@c_grey:		#CCCCCC;
@c_grey_light:	lighten(@c_grey,17%);
@c_grey_dark:	darken(@c_grey,40%);

@c_text: 		#444444;

@ff_templatesetting_colour_links: #297FCF;
@ff_templatesetting_colour_sm_level0_bg: #557206; // the always visible main nav
@ff_templatesetting_colour_sm_level1_bg: #3E4C02; // the drop downs and left-hand bit of resources menu
@ff_templatesetting_colour_sm_level2_bg: #82A002; // the right hand bit of resources menu
@ff_templatesetting_colour_pm_level0_bg: #005AA4; // the responsive page menu background





/* End outputs */
