.ff_module-form-set-personal-task {
	#datepicker-container {
		background-color: #F9F9F9;
		border-width: 1px 0;
		border-style: solid;
		border-color: @ff_colour_control_border;
		display: none;
	}
}