.ff_module-incremental-navigation {
    &__next, &__previous {
        .ff_icon {
            width: 1.5em;
            height: 1.5em;
        }
    }
    &__next--is-disabled {
        opacity: 0.1;
    }
    &__previous--is-disabled {
        opacity: 0.1;
    }
}
