.ff_container-filter-dropdown__heading {
	padding: @ff_size_spacing_med;
	background: @ff_colour_control_bg;
	border-bottom: 1px solid @ff_colour_control_border; // outer borders to be added by repeater/container module
}

.ff_container-filter-dropdown__content {
	background: lighten(@ff_colour_control_bg_selected,15%);
	padding: @ff_size_spacing_med;
}
.ff_container-filter-dropdown__toggler {
	padding: @ff_size_spacing_med;
	border: 1px solid @ff_colour_melody_int_blue;
	color: @ff_colour_melody_int_blue;
	cursor: pointer;
	@media all and (min-width: @ff_bp_medium) { display: none; }
}