
.ff_container-dashboard-section {

    // header
    &__header {
        #ff_mix-sections > .header();
        &--messages {
        }
        &--planner {
        }
        &--tasks {
        }
    }

    // main
    &__title {
        font-size: 21rem/@ff_base;
    }
    &__main {
       #ff_mix-sections > .main();
       background-color: white;
    }
    &__main--no-footer {
        #ff_mix-sections > .main--no-footer()
    }

    // footer
    &__footer {
        #ff_mix-sections > .footer();
    }
    &__more-link {
        #ff_mix-util-prose > .link-no-decoration();
    }

    &--simple {

        .ff_container-dashboard-section {
            // header
            &__header {
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
                border: none;
                border-radius: 0;
            }

            // main
            &__title {
                font-size: 24rem/@ff_base;
            }
            &__main {
                border: 1px solid @ff_colour_control_border;
                border-radius: @ff_size_control_rounding;
            }

            // footer
            &__footer {
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
                border: none;
                border-radius: 0;
                box-shadow: none;
                font-weight: bold;
            }
        }
    }
}
