---
title: Markbook
layout: standalone
---

{% assign num = 10 %}

<div class="ff-ui-heading">
    <h1>Markbook</h1>
    <div class="ff-ui-actions">
        <a class="ff-ui-button ff-button-primary ff-icon ff-icon-task-add">Add completed tasks</a>
    </div>
</div>

<div class="ff-ui-actions ff-mark-grid-actions">
        <div class="ff-actions-secondary">
            <div class="ff-ui-nav-switch ff-nav-switch-icons-only">
                <ul class="ff-nav-switch-items">
                    <li><a href="#" class="ff-icon ff-icon-arrow-left-double" data-ff-markbook-control="back,10"><span>Jump 10 Tasks</span></a></li>
                    <li><a href="#" class="ff-icon ff-icon-arrow-left" data-ff-markbook-control="back,1"><span>Back 1 Task</span></a></li>
                </ul>
            </div>
            <div class="ff-ui-nav-switch ff-nav-switch-icons-only">
                <ul class="ff-nav-switch-items">
                    <li><a href="#" class="ff-icon ff-icon-arrow-right" data-ff-markbook-control="forward,1"><span>Forward 1 Task</span></a></li>
                    <li><a href="#" class="ff-icon ff-icon-arrow-right-double" data-ff-markbook-control="forward,10"><span>Jump 10 Tasks</span></a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="ff-mark-grid" data-ff-mark-grid-tasks="{{ num }}">
    
    <div class="ff-mark-grid-students">
        
        <div class="ff-mark-grid-header">
            <ul class="ff-ui-dropdown ff-ui-button">
                <li class="ff-icon ff-icon-dropdown"><span class="ff-dropdown-label">Class 8y/En2</span>
                    <ul class="ff-dropdown-items">
                        <li class=""><a href="#"><span>Class 10z/En2</span></a></li>
                        <li class=""><a href="#"><span>Class 11a/En2</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <ol>
            {% include_relative markbook_includes/student-detail.html id="jon" name="Jonathan Roobottom" target="Excellent" %}
            {% include_relative markbook_includes/student-detail.html id="katie" name="Katie Sellwood" target="" %}
            {% include_relative markbook_includes/student-detail.html id="catherine" name="Catherine Hyslop" target="Average" %}
            {% include_relative markbook_includes/student-detail.html id="david" name="David Gavin James White" target="55%" %}
            {% include_relative markbook_includes/student-detail.html id="chrisitian" name="Christian Powell" target="60%" %}
            {% include_relative markbook_includes/student-detail.html id="ellie" name="Ellie Rose" target="C/D" %}
            {% include_relative markbook_includes/student-detail.html id="kamran" name="Kamran Kahn" target="Anything will do!" %}
            {% include_relative markbook_includes/student-detail.html id="annie" name="Annie Baskerville" target="D" %}
            {% include_relative markbook_includes/student-detail.html id="clive" name="Clive Fuller" target="A" %}
        </ol>
    </div>
    
    <div class="ff-mark-grid-results"><div class="ff-mark-grid-results-wrapper">
        
        
        <div class="ff-mark-grid-header ff-mark-grid-choose-task">
            <ul class="ff-ui-dropdown ff-ui-button">
                <li class="ff-icon ff-icon-dropdown"><span class="ff-dropdown-label">Choose a task</span>
                    <ul class="ff-dropdown-items">
                        <li class=""><a href="#ff-mark-grid-task-uid1"><span>Mon 1st Feb</span></a></li>
                        <li class=""><a href="#ff-mark-grid-task-uid2"><span>Tue 2nd Feb</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="ff-mark-grid-header">
            <ol>
                {% for i in (1..num) %}
                <li id="ff-mark-grid-task-uid1" {% if i == 2 %}class="ff-mark-grid-highlight"{% endif %}>
                    {% include_relative markbook_includes/task-header.html date=i title="Write 500 a word on the process of quantum interactions within the chloroplasts of plants" %}
                </li>
                {% endfor %}
            </ol>
        </div>
        
        <div class="ff-mark-grid-results-body">
            {% for i in (1..num) %}
                <ol id="ff-mark-grid-task-uid1" {% if i == 2 %}class="ff-mark-grid-highlight"{% endif %}>
                    {% include_relative markbook_includes/student-mark.html id="jon" name="Jonathan Roobottom" percent="100" mark="10" outof="10" grade="A" display="mark" %}
                    {% include_relative markbook_includes/student-mark.html id="katie" name="Katie Sellwood" percent="80" mark="8" outof="10" grade="B" display="grade" %}
                    {% include_relative markbook_includes/student-mark.html id="catherine" name="Catherine Hyslop" percent="60" mark="6" outof="10" grade="C" display="excused" %}
                    {% include_relative markbook_includes/student-mark.html id="david" name="David Gavin James White" percent="40" mark="4" outof="10" grade="D" %}
                    {% include_relative markbook_includes/student-mark.html id="chrisitian" name="Chrisitian Powell" percent="20" mark="2" outof="10" grade="E" display="unmarked" %}
                    {% include_relative markbook_includes/student-mark.html id="ellie" name="Ellie Rose" percent="20" mark="2" outof="10" grade="E" %}
                    {% include_relative markbook_includes/student-mark.html id="kamran" name="Kamran Kahn" percent="0" mark="0" outof="10" grade="F" %}
                    {% include_relative markbook_includes/student-mark.html id="annie" name="Annie Baskerville" percent="76" mark="76" outof="100" grade="C" display="unsubmitted" %}
                    {% include_relative markbook_includes/student-mark.html id="clive" name="Clive Fuller" percent="80" mark="8" outof="10" grade="A" display="unrecorded" %}
                </ol>
            {% endfor %}            
        </div>
    
    
    </div></div><!-- /results panel -->
    
    
</div>


<div style="height:1200px; border: 1px solid blue;">
    <p>Other stuff that might be on the page</p>
</div>