@formstep-diam_lg: 50px;
@formstep-diam: 24px;
@formstep-fg-color: #fff;
@formstep-bg-color: @ff_colour_primary;
@formstep-border-width: 2px;

.ff_module-formsteps {
    margin: 0;
    padding: 0;
    list-style: none;
    // background-color: @ff_colour_primary
}

.ff_module-formstep {
    display: inline-block;
    text-align: center;
    max-width: 8rem;
    vertical-align: top;
    position: relative;

    &:nth-last-child(n+2) {
        @media (min-width: @ff_bp_medium) {
            .ff_module-formstep__icon {
                overflow: visible;

                &:after {
                    content: '>';
                    position: absolute;
                    font-weight: bold;
                    right: -1.6rem;
                    color: fade(@formstep-fg-color, 30%);
                }
            }
        }
    }

    &__link {
        #ff_mix-util-prose > .link-no-decoration(@formstep-fg-color);
        display: block;
        line-height: @formstep-diam;
        @media (min-width: @ff_bp_medium) {
            line-height: @formstep-diam_lg;
        }
    }
    &__icon {
        #ff_mix-decoration > .circle(@formstep-diam, @formstep-border-width, @formstep-fg-color);
        @media (min-width: @ff_bp_medium) {
            #ff_mix-decoration > .circle(@formstep-diam_lg, @formstep-border-width, @formstep-fg-color);
        }
    }
    &__stepnumber {
        font-weight: bold;
        font-size: 14rem/@ff_base;
        @media (min-width: @ff_bp_medium) {
            font-size: 21rem/@ff_base;
        }
    }
    &--is-current &__stepnumber {
        #ff_mix-util-prose > .link-no-decoration(@formstep-bg-color);
    }
    &--is-current &__icon {
        #ff_mix-decoration > .circle(@formstep-diam, @formstep-border-width, @formstep-fg-color, @formstep-fg-color);
        @media (min-width: @ff_bp_medium) {
            #ff_mix-decoration > .circle(@formstep-diam_lg, @formstep-border-width, @formstep-fg-color, @formstep-fg-color);
        }
    }
    &--is-complete &__icon {
        #ff_mix-decoration > .circle(@formstep-diam + 2*@formstep-border-width, 0px, @formstep-fg-color, fade(@formstep-fg-color, 30%));
        @media (min-width: @ff_bp_medium) {
            #ff_mix-decoration > .circle(@formstep-diam_lg+ 2*@formstep-border-width, 0px, @formstep-fg-color, fade(@formstep-fg-color, 30%));
        }
    }
    &--is-complete--is-current &__icon {
        #ff_mix-decoration > .circle(@formstep-diam, @formstep-border-width, @formstep-fg-color, @formstep-fg-color);
        @media (min-width: @ff_bp_medium) {
            #ff_mix-decoration > .circle(@formstep-diam_lg, @formstep-border-width, @formstep-fg-color, @formstep-fg-color);
        }
    }
}
