.ff_module-formsteps {
  margin-bottom: -10px;
  margin-bottom: -10rem/@ff_base;
}
.ff_module-formstep {
  //settings
  @formstep-diam: 26px;
  @formstep-border-width: 2px;
  @spacing: 10;

  .sp-r() { //can't use unit() in FF
    @media (min-width: @ff_bp_medium) {
      margin-right: @spacing * 1px;
      margin-right: (@spacing/@ff_base) * 1rem;
    }
  }
  .sp-r();
  margin-bottom: 1px * @spacing;
  margin-bottom: (@spacing/@ff_base) * 1rem;

  //set new var @colour
  #ff_mix-responsive-colour > .check-contrast-var(@ff_colour_melody_int_main,darken(@ff_colour_melody_int_main,20%));

  //alignment
  &__link,
  &__separator {
    display: inline-block;
  }
  &__link {
    color: @colour;
    text-decoration: none;
  }

  &__text {
    margin: 0;
    display: none;
    .sp-r();
    @media (min-width: @ff_bp_medium) {
      display: inline-block;
    }
  }

  &--is-current {
    font-weight: bold;
  }

  &__icon {
    #ff_mix-decoration > .circle(@formstep-diam, @formstep-border-width, @colour);
    .sp-r();
    font-size: 80%;
  }

  &--is-current &__icon {
    #ff_mix-decoration > .circle(@formstep-diam, @formstep-border-width, @colour, @colour);
    .sp-r(); //required as .circle resets the margin
    color: @ff_colour_melody_int_main;
  }

}
