#datepicker-container {
	position: relative;
	background-color: #F9F9F9;
	border-width: 1px 0;
	border-style: solid;
	border-color: @ff_colour_control_border;
	padding: 0.5rem;
	display: none;


	&:after, &:before {
		bottom: 100%;
		left: 15rem;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #f9f9f9;
		border-width: 9px;
		margin-left: -9px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: @ff_colour_control_border;
		border-width: 11px;
		margin-left: -11px;
	}
}