.ff_module-task-event-status {

    color: @ff_colour_text_quiet;
    background-color: lighten(@ff_colour_control_bg, 7%);
    border-radius: 0.5*@ff_size_control_rounding;
    border: 1px solid lighten(@ff_colour_control_border, 7%);
    padding: @ff_size_spacing_min*0.20 @ff_size_spacing_min @ff_size_spacing_min*0.30;


    &__icon {
        width: 1.4em;
        height: 1.4em;
        margin: -.4em .4em -.4em -.3em;
    }
    &__content {
        display: inline-block;
    }
}

// states
.ff_module-task-event-status {

    &--is-saved,
    &--is-sent {
        color: @ff_colour_success;
    }
}

// transitions
.ff_module-task-event-status {

    min-height: 1.625rem;

    &__transition-wrapper {
        max-height: 200px;
    }
    &__transition-wrapper--is-default,
    &__transition-wrapper--is-deleted {
        transition: max-height 1s;
        max-height: 0;
    }

    &--is-default,
    &--is-deleted {
        transform: scale(0, 0);
    }

    &.transition-enter {
        position: absolute;
        opacity: 0.1;
        transition: transform 1s, opacity 1s;
        transform: scaleX(0);
    }
    &.transition-enter.transition-enter-active {
        transform: scaleX(1);
        opacity: 1;
    }

    &.transition-leave {
        opacity: 1;
        transition: transform 1s, opacity 1s;
        transform: scaleX(1);
    }
    &.transition-leave.transition-leave-active {
        transform: scaleX(0);
        opacity: 0.1;
    }

    &--is-default.transition-enter,
    &--is-deleted.transition-enter,
    &--is-default.transition-enter.transition-enter-active,
    &--is-deleted.transition-enter.transition-enter-active,
    &--is-default.transition-leave,
    &--is-deleted.transition-leave,
    &--is-default.transition-leave.transition-leave-active,
    &--is-deleted.transition-leave.transition-leave-active {
        transform: scale(0, 0);
        transition:none;
    }
}
