.ff_module-mark-and-grade {
	display: flex;
	flex-wrap: wrap;

    &__mark, &__grade, &__percentage {
        margin-bottom: @ff_size_spacing_min / 2;
    }

    &--recipients {
    	margin: 0;
    }
}
