.ff_icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top:-0.05em;
    line-height: 1;
}

.ff_icon-left {
    margin-right: @ff_size_control_horizontal;
}
.ff_icon-right {
    margin-left: @ff_size_control_horizontal;
}
.ff_icon-test {
    background-color:#fc0456;
}

.ff_icon-arrow {
    background-color:#fc0456;
}
.ff_icon-arrow--closed {
    background-color: blue;
}
.ff_icon-prev, .ff_icon-prev {
    background-color: @ff_colour_default;
    border-radius: 50%;
}

.ff_icon-cal {
    background-color: @ff_colour_default;
}

.ff_icon-delete {
    background-color: #2B81D3;
}

.ff_icon-edit-input-box {
    background-color: @ff_colour_default;
}

.ff_icon-group {
    background-color: @ff_colour_default;
}

.ff_icon-help {
    background-color: green;
    border-radius: 50%;
}

.ff_icon-arrow-down {
    background-color: transparent;
    &:before{
        content: '▼';
    }
}

