.ff_icon {
    #ff_mix-base-text > .vertical-align;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top:-0.05em;
    line-height: 1;
}

.ff_icon-left {
    margin-right: @ff_size_control_horizontal;
}
.ff_icon-right {
    margin-left: @ff_size_control_horizontal;
}
.ff_icon-test {
    background-color:#fc0456;
}

.ff_icon-arrow-down {
    background-color: transparent;
    &:before{
        content: '▼';
    }
}