.ff_module-mark-and-grade {
    padding-top: @ff_size_control_vertical*0.5;
    padding-bottom: @ff_size_control_vertical*0.5;

    &__mark, &__grade, &__percentage {
        background-color: darken(@ff_colour_default, 10%);
        border-radius: 2rem;
        color:#fff;
        font-weight: bold;
        font-size: unit(18/@ff_base, rem);
        padding: @ff_size_control_vertical*0.5 @ff_size_control_horizontal*0.75;
        margin-right: @ff_size_control_horizontal*0.2;
    }
}
