.ff_container-scrollable-list {
    width: 100%;
    border-collapse: collapse;
    border:2px solid @ff_colour_control_border;
    max-height: 585px;

    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    &__item {

    }
    &__item--main {
        @media (min-width: @ff_bp_wide) {
            float:right;
            width: 70%;
            flex: 1 0 70%;
            overflow-y: auto;
            background: @ff_colour_control_bg;
            display: block;
      }
        display: none;
        overflow-y: auto;
        background: @ff_colour_control_bg;
        box-sizing: border-box;

    }
    &__item--sidebar {
        @media (min-width: @ff_bp_wide) {
            float:left;
            width: 30%;
            flex: 1 0 30%;
            overflow-y: auto;
            border-right: 1px solid @ff_colour_control_border;
        }
        overflow-y: auto;
        box-sizing: border-box;
        width: 100%;
    }
}
