/* This is for crate styles *only* */

@color-red1: #ac1d1d;
@color-red2: #550e0e;
@crate-font-stack: "Helvetica",
"Arial";
@crate-font-base: 15px;
@crate-spacing-base: 20px;

body {
    background-color: #f3f3f3;
    font-family: @crate-font-stack;
    font-size: @crate-font-base;
    padding: 2.5*@crate-spacing-base @crate-spacing-base;
    margin: 0;
}

.crate_pattern-jump {
    position: fixed;
    height: 30px;
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    z-index: 1;
    text-align: right;
    margin-bottom: 0;
}

.crate_blocks__item {
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin: 2.5em 0;
    overflow: hidden;
    // border-radius: 3px;
    color: #333;
    clear: both;
    position: relative;
}

.crate_blocks__content {
    padding: 10px;
}

.crate_blocks__item__heading {
    background-image: linear-gradient(#ddd 95.4%, #ccc 100%);
    margin: 0;
    padding: 8px 10px;
    color: #777;
    // border-radius: 2px 2px 0 0;
    font-weight: normal;
    font-size: 14px;
}

.crate_blocks__item__link {
    padding: 5px 10px;
    display: block;
    color: #fff;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    line-height: 0.65;
    text-decoration: none;
    &:after {
        content: "⚒";
    }
}

.crate_link {
    display: block;
    margin-top: 2*@crate-spacing-base;
    padding: @crate-spacing-base 0;
    border-top: 1px solid #eee;
    a {
        text-decoration: none;
    }
}

.crate_blocks__item__link__text {
    display: none;
}

.crate-block__source {
    background-color: #f0f0f0;
    border-top: 1px solid #dedede;
    padding: 10px;
}

.crate_theme-select {
    position: absolute;
    right: 1em;
    top: 1em;
}

.crate_util-block {
    background-color: #FECFD1;
    padding: 20px;
    display: block;
    text-align: center;
    color: #FC0D1B;
}

.crate_block > [class*="ff_"] {
    outline: 1px dotted #CCC;
}