#ff_module-button() {
    .default() {
        background-color: @ff_colour_button_bg;
        #ff_mix-responsive-colour > .check-contrast(@ff_colour_button_bg, @ff_colour_button_text, #ffffff);
        border-radius: @ff_size_control_rounding * 0.75;
        border: 1px solid @ff_colour_button_bg;
        padding: (@ff_size_spacing_min * .85) @ff_size_spacing_med;
        cursor: pointer;
        min-width: 60rem/@ff_base;
        box-sizing: border-box;
        line-height: 1.25rem;
        &:hover {
            background-color: shade(@ff_colour_button_bg, 10%);
            border-color: shade(@ff_colour_button_bg, 10%);
        }
    }
    .primary() {
        background-color: @ff_colour_primary;
        #ff_mix-responsive-colour > .check-contrast(@ff_colour_primary, @ff_colour_button_text, #ffffff);
        font-weight: bold;
        border-color: lighten(@ff_colour_primary, 25%);
        box-shadow: 0px 0px 2px darken(@ff_colour_primary, 25%);
        &:hover {
            background-color: shade(@ff_colour_primary, 10%);
            border-color: shade(@ff_colour_primary, 10%);
        }
    }
    .primary-content() {
        font-weight: bold;
    }
    .large() {
        padding: (@ff_size_spacing_min * 1.35) @ff_size_spacing_max;
    }
    .block() {
        width: 100%;
    }
    .tertiary() {
        border-color: @ff_colour_button_bg;
        color: @ff_colour_primary;
        background-color: white;
        &:hover {
            background-color: shade(white, 10%);
            border-color: shade(@ff_colour_button_bg, 10%);
            color: @ff_colour_primary;
        }
    }
    .tertiary-content(){
        #ff_mix-responsive-colour > .check-contrast(white, @ff_colour_button_text, #ffffff);
    }
    .link(){
        #ff_mix-buttons > .clear();
        #ff_mix-util-prose > .link-no-decoration(@ff_color_control_link);
        padding: 0;
        display: inline-block;
        text-align: left;
        min-width: auto;
        &:hover {
            background-color: transparent;
            border: none;
            color: shade(@ff_color_control_link, 10%);
        }
    }
    .compact() {
        padding: (@ff_size_spacing_min * 0.4) (@ff_size_spacing_min * 0.7);
        line-height: 1.2;
        font-size: 90%;
        .ff_icon-left {
            margin-right: @ff_size_spacing_min * 0.7;
            margin-left: -@ff_size_spacing_min * 0.2;
        }
        .ff_icon-right {
            margin-left: @ff_size_spacing_min * 0.7;
            margin-right: -@ff_size_spacing_min * 0.2;
        }
    }
    .danger() {
        background-color: @ff_colour_error;
        font-weight: bold;
        border-color: @ff_colour_error;
        #ff_mix-responsive-colour > .check-contrast(@ff_colour_error, @ff_colour_button_text, #ffffff);
        &:hover {
            background-color: shade(@ff_colour_error, 10%);
            border-color: shade(@ff_colour_error, 10%);
        }
    }
    .disabled() {
        &, &:hover {
            background-color: @ff_colour_quiet;
            border-color: darken(@ff_colour_quiet, 35%);
            color: darken(@ff_colour_quiet, 35%);
            cursor: default;
        }
    }
    .danger-disabled() {
        &, &:hover {
            background-color: lighten(@ff_colour_error, 35%);
            font-weight: bold;
            border-color: lighten(@ff_colour_error, 20%);
            color: lighten(@ff_colour_error, 18%);
            cursor: default;
        }
    }
}

.ff_module-button {
    #ff_module-button > .default();
    &--primary {
        #ff_module-button > .primary();
    }
    &--large {
        #ff_module-button > .large();
    }
    &--primary-large {
        #ff_module-button > .primary();
        #ff_module-button > .large();
    }

    //tertiary
    &--tertiary {
        #ff_module-button > .tertiary();
    }
    &--tertiary-large {
        #ff_module-button > .tertiary();
        #ff_module-button > .large();
    }
    &--block {
        #ff_module-button > .block();
    }
    &--compact {
        #ff_module-button > .compact();
    }
    &--primary-compact {
        #ff_module-button > .compact();
        #ff_module-button > .primary();
        font-weight: normal;
    }
    &--tertiary-compact {
        #ff_module-button > .compact();
        #ff_module-button > .tertiary();
    }
    &--link {
        #ff_module-button > .link();
    }
    &--link &__icon--no-text {
        margin: @ff_size_spacing_min * 0.3 @ff_size_spacing_min * 0.6;
    }
    &--danger {
        #ff_module-button > .danger();
    }

    &--primary-block {
        #ff_module-button > .block();
        #ff_module-button > .primary();
    }
    &--large-block {
        #ff_module-button > .block();
        #ff_module-button > .large();
    }
    &--primary-large-block {
        #ff_module-button > .block();
        #ff_module-button > .primary();
        #ff_module-button > .large();
    }
    &--tertiary-block {
        #ff_module-button > .block();
        #ff_module-button > .tertiary();
    }
    &--tertiary-large-block {
        #ff_module-button > .block();
        #ff_module-button > .tertiary();
        #ff_module-button > .large();
    }
    &--link-block {
        #ff_module-button > .link();
        #ff_module-button > .block();
    }

    &--compact-block {
        #ff_module-button > .compact();
        #ff_module-button > .block();
    }
    &--primary-compact-block {
        #ff_module-button > .compact();
        #ff_module-button > .primary();
        #ff_module-button > .block();
    }
    &--tertiary-compact-block {
        #ff_module-button > .compact();
        #ff_module-button > .tertiary();
        #ff_module-button > .block();
    }
    &--danger-block {
        #ff_module-button > .danger();
        #ff_module-button > .block();
    }


    //disabled buttons
    &--is-disabled {
        #ff_module-button > .disabled();
    }

    &--link&--is-disabled,
    &--link-block&--is-disabled {
        background: none;
    }

    &--danger&--is-disabled,
    &--danger-block&--is-disabled {
        #ff_module-button > .danger-disabled();
    }
}
