.ff_container-dashboard-list__items {
    margin: 0;
    padding: 0;
}
.ff_container-dashboard-list__item {
    list-style: none;
    border-bottom: 1px solid @ff_colour_control_border;
    &:last-child {
        border-bottom: none;
    }
}