#ff_mix-form-pair() {
    .root-fullwidth{
        display: flex;
        align-items: center;
    }
    .constrained{
        max-width: 200px;
    }
    .fullwidth{
        flex-grow: 1;
    }
    .stacked {
        margin-top:@ff_size_spacing_min;
        display: block;
    }
}
.ff_module-form-pair {

    &__item, &__label {
        display: inline-block;
        vertical-align: middle;
    }
    >*:first-child {
        margin-left:0;
        margin-right: @ff_size_spacing_min;
    }

    &--fullwidth {
        #ff_mix-form-pair > .root-fullwidth;
    }
    &--fullwidth &__item {
        #ff_mix-form-pair > .fullwidth;
    }

    &--constrained &__item {
        #ff_mix-form-pair > .constrained;
    }

    &--stacked &__item {
        #ff_mix-form-pair > .stacked;
    }

    &--stacked-constrained &__item {
        #ff_mix-form-pair > .stacked;
        #ff_mix-form-pair > .constrained;
    }

    &--stacked-fullwidth &__item {
        #ff_mix-form-pair > .stacked;
        width:100%;
    }
}
