
.ff_module-form-box-member {

    #ff_mix-input > .root();
    #ff_mix-input-box > .layout();
    #ff_mix-input-box > .bg();
    border:1px solid transparent;
    &__label {
        #ff_mix-input-box > .label();
        padding: @ff_input-group-padding-vertical @ff_size_control_horizontal @ff_input-group-padding-vertical @ff_size_spacing_min;
    }
    &__delete {
        #ff_mix-input-box > .delete();
    }
    &__edit {
        display: none;
    }
}
