.ff_container-filter {

    &__heading {
        #ff_mix-title-box > .header;
        border-bottom: 1px solid @ff_colour_control_border; // outer borders to be added by repeater/container module
        background: mix(@ff_colour_control_bg, #fff, 50%);
        #ff_mix-responsive-colour > .check-contrast(mix(@ff_colour_control_bg, #fff, 50%), @ff_colour_control_text, #fff);
    }
    &__items {
        #ff_mix-title-box > .content(mix(@ff_colour_control_bg_selected, #fff, 25%));
        padding-left: @ff_size_control_vertical;
        padding-right: @ff_size_control_vertical;
    }
}
