.ff_module-profile-picture-and-name__picture {
	margin: 0;
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	border: 2px solid @ff_colour_control_border;
	overflow: hidden;
}
.ff_module-profile-picture-and-name__image {
	max-width: 100%;
}
.ff_module-profile-picture-and-name__name {
	#ff_mix-util-prose > .link-no-decoration();
	margin-left: @ff_size_spacing_max;
}
