@ff_grid-gap-horizonal: 1.5%;
@ff_grid-gap-vertical: 1.5%;

//2col
@ff_grid-2col-base: (100% - (@ff_grid-gap-horizonal * 6));
@ff_grid-2col-equal: @ff_grid-2col-base / 2;
@ff_grid-2col-narrow: @ff_grid-2col-base * (1/3);
@ff_grid-2col-wide: @ff_grid-2col-base * (2/3);

.ff_grid {
  .ff_mix-clearfix();
}

.ff_grid__column {
  background-color: #aaa;
  width: 100%;
  clear: left;
  box-sizing: border-box;
  margin-bottom: 10px;
}

@media (min-width: @ff_bp_medium) {

    .ff_grid--1-1 .ff_grid__column,
    .ff_grid--2-1 .ff_grid__column,
    .ff_grid--1-2 .ff_grid__column {
      width: @ff_grid-2col-equal;
      float: left;
      margin: @ff_grid-gap-horizonal @ff_grid-gap-vertical;
      &:nth-of-type(2n-1) {
          margin-left: @ff_grid-gap-horizonal * 2;
      }
      &:nth-of-type(2n) {
          margin-right: @ff_grid-gap-horizonal * 2;
      }
    }

    .ff_grid--1-1 .ff_grid__column:nth-of-type(2n),
    .ff_grid--1-2 .ff_grid__column:nth-of-type(2n),
    .ff_grid--2-1 .ff_grid__column:nth-of-type(2n) {
      clear: none;
    }

    .ff_grid--1-2 .ff_grid__column,
    .ff_grid--2-1 .ff_grid__column {
      width: @ff_grid-2col-narrow;
    }

    .ff_grid--1-2 .ff_grid__column:nth-of-type(2),
    .ff_grid--2-1 .ff_grid__column:nth-of-type(1) {
      width: @ff_grid-2col-wide;
    }

}