.ff_module-profile-response-button {
    #ff_mix-buttons > .clear;
    position: relative;
    padding: @ff_size_spacing_max @ff_size_spacing_min;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &__picture {
        #ff_mix-decoration > .circle(36px);
        vertical-align: top;
        margin-top: 0.2*@ff_size_spacing_min;
    }
    &__image {
        max-width: 100%;
        width: auto;
        height: auto;
    }
    &__caption {
        width: 80%;
        margin:0;
        margin-left: @ff_size_spacing_max*1.25;
        display: inline-block;
        text-align: left;
        line-height: 1.4;
    }
    &__heading {
        display: block;
        position: relative;
        margin-bottom: @ff_size_spacing_min * 0.25;
    }
    &__incoming-icon {
        position: absolute;
        left: -1rem;
        top: 0.4rem;
    }
    &__label {
        color: @ff_color_control_link;
    }
    &__status,
    &__mark-and-grade {
        display: block;
        margin:0;
        #ff_mix-util-prose > .text-quiet();
        font-size: 0.875rem;
    }
    &__icon-completed {
        float: left;
        margin: 5px 3px 0 0;
        fill:grey;
        width: 26px;
        height: 26px;
    }
    &__status-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px;
        width: 20px;
        height: 20px;
        &--ready-to-send {
            fill:@ff_colour_control_border;
        }
        &--sent {
            fill:@ff_colour_success;
        }
        &--error {
            fill:@ff_colour_error;
        }
    }

}

.ff_module-profile-response-button {
    &--is-selected {
        cursor: default;
    }
}
