.ff_module-filter__heading {
	cursor: pointer;
	padding: @ff_size_control_vertical;
	background: @ff_colour_control_bg;
	border-bottom: 1px solid @ff_colour_control_border; // outer borders to be added by repeater/container module
}
.ff_module-filter__label {
	display: inline-block;
	cursor: inherit;
}
.ff_module-filter__content {
	background: lighten(@ff_colour_control_bg_selected,15%);
	padding: @ff_size_control_vertical;
}
.ff_module-filter__control {
	float: right;
	border: none;
	background: none;
	padding: 0;
	cursor: inherit;
}
