.ff_module-tabs__navigation {
    .ff_mix-clearfix();
    border-radius: @ff_size_control_rounding  @ff_size_control_rounding 0 0;
    border: 1px solid @ff_colour_control_border;
    border-bottom: 0;
}
.ff_module-tabs__tab {
    padding: 12rem/@ff_base 20rem/@ff_base;
    background: @ff_colour_control_bg;
    #ff_mix-base-box > .list-item()
}
.ff_module-tabs__link {
    color: @ff_colour_control_text;
    padding: @ff_size_spacing_min @ff_size_spacing_max;
}
.ff_module-tabs__tab--active {
    background: white;
}
