.ff_container-dashboard-item-repeater__items {
    margin: 0;
    padding: 0;
}
.ff_container-dashboard-item-repeater__item {
    list-style: none;
    border-bottom: 1px solid @c_main-border;
    &:last-child {
        border-bottom: none;
    }
}