.ff_module-profile-picture-and-name-button {
    #ff_mix-buttons > .clear;
    cursor: pointer;
    &__picture {
        #ff_mix-decoration > .square(36px);
    }
    &__image {
        max-width: 100%;
        width: auto;
        height: auto;
    }
    &__title {
        #ff_mix-util-prose > .link-no-decoration();
        margin-left: @ff_size_spacing_max;
    }
}

.ff_module-profile-picture-and-name-button--is-selected {
    cursor: default;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    .ff_module-profile-picture-and-name-button__title:hover {
        color:@ff_color_control_link;
    }
}
