.ff_icon {
    width: 1em;
    height: 1em;
    button& {
        border: none;
        cursor: pointer;
    }
    vertical-align: middle;
    position: relative;
    top:-0.05em;
    display: inline-block;
}
.ff_icon-left {
    margin-right: @ff_size_control_horizontal;
}
.ff_icon-right {
    margin-left: @ff_size_control_horizontal;
}

.ff_icon-prev,
.ff_icon-prev {
    background-color: @ff_colour_default;
    border-radius: 50%;
}

.ff_icon-cal {
    background-color: @ff_colour_default;
}


.ff_icon-delete {
    background-color: #2B81D3;
}

.ff_icon-edit-input-group {
    background-color: @ff_colour_default;
}

.ff_icon-arrow-down {
    background-color: transparent;
    &:before{
        content: '▼';
    }
}
.ff_icon-arrow-up {
    background-color: transparent;
    &:before{
        content: '▲';
    }
}
