#ff_mix-segments() {
    //link styles
    .link--base() {
        color: @ff_color_text_link;
        background-color: white;
        padding: @ff_size_control_vertical @ff_size_control_horizontal;
        &:hover {
            background-color: mix(white, @ff_colour_primary, 75%);
            border-color: darken(spin(saturate(@ff_colour_primary, 30%), -5), 10%);
            #ff_mix-responsive-colour > .check-contrast(mix(white, @ff_colour_primary, 75%), darken(spin(saturate(@ff_colour_primary, 30%), -5), 10%), @ff_colour_primary);
        }
    }
    .link--large() {
        padding: @ff_size_spacing_med @ff_size_spacing_max; 
    }
    .link--active() {
        background-color: @ff_colour_primary;
        border-color: @ff_colour_primary;
        color: white;
        box-shadow: none;
        &:hover {
            background-color: saturate(shade(@ff_colour_primary, 30%), 35%);
            border-color: saturate(shade(@ff_colour_primary, 30%), 35%);
            #ff_mix-responsive-colour > .check-contrast(saturate(shade(@ff_colour_primary, 30%), 35%), mix(@ff_colour_primary, white, 25%), white);
        }
    }
}

.ff_module-segments {
    
    &--large .ff_module-segments__link {
        #ff_mix-segments > .link--large();
    }

    &__list {
        border-color: @ff_colour_primary;
        border-radius: @ff_size_control_rounding * 2;
        overflow: hidden;
    }

    &__item {
        list-style: none;
        flex: 1;
        text-align: center;
        border-color: @ff_colour_primary;
    }

    &__link {
        #ff_mix-segments > .link--base();
    }

    &__link--active {
        #ff_mix-segments > .link--active();
    }
}
