// Colours are taken from the navigation Home section to override the empty state graphic
.ff_module-empty-state__svg-page {
	fill: white;
}
.ff_module-empty-state__svg-sparkles {
	fill: @ff_templatesetting_section-01-colour; 
}

.ff_module-empty-state__svg-circle {
	fill: lighten(@ff_templatesetting_section-01-colour, 38%);
}