.ff_module-count-indicator {
	margin-left: @ff_size_spacing_min;
	padding: @ff_size_spacing_min/2 @ff_size_spacing_min;
	background-color: grey;
	font-size: 80%;
	
	&--top-right {
		position: absolute;
		top: 0;
		right: 0;	
	}

	&--top-left {
		position: absolute;
		top: 0;
		left: 0;	
	}
	
}