.ff_module-dropdown-button {
    #ff_module-button > .default();
    padding: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
}

//modifiers
.ff_module-dropdown-button {
    &--primary, &--primary-right {
        #ff_module-button > .primary();
    }
    &--primary &__content, &--primary-right &__content, &--primary-compact &__content, &--primary-compact-right &__content {
        #ff_module-button > .primary-content();
    }
    &--primary-compact &__content, &--primary-compact-right &__content {
        font-weight: normal;
    }

    &--primary-compact, &--primary-compact-right {
        #ff_module-button > .primary();
    }
    &--compact &__button, &--compact-right &__button, &--primary-compact &__button, &--primary-compact-right  &__button {
        #ff_module-button > .compact();
    }
}

// states
.ff_module-dropdown-button {
    &--is-enabled {}
    &--is-open {
        #ff_module-button > .primary();
        font-weight: 400;
        z-index: 3;
    }
    &--is-disabled {
        background-color: @ff_colour_quiet;
        border-color: @ff_colour_default;
        color: @ff_colour_default;
        cursor: default;
    }
    &--is-disabled &__content {
        color: @ff_colour_default;
    }
}

// children
.ff_module-dropdown-button {
    &__button {
        #ff_mix-buttons > .clear;
        padding: (@ff_size_spacing_min * .85) @ff_size_spacing_med;
    }
    &__content {
        color: #fff;
        vertical-align: middle;
    }
    &__list-container {
        top: 2rem;
        left: 5px;
        &--is-enabled {
            position: absolute;
            height: 0;
            overflow: hidden;
        }
        &--is-open {
            position: absolute;
            height: auto;
            min-width: 8rem;
        }
    }
    &--right &__list-container,
    &--primary-right &__list-container,
    &--primary-compact-right &__list-container,
    &--compact-right &__list-container{
        right: 5px;
        left: auto;
        text-align: right;
    }
    &__list {
        // right: 5px;
        background-color: #fff;
        color: @ff_colour_default;
        border: 1px solid @ff_colour_control_border;
        border-radius: @ff_size_control_rounding;
        padding: (@ff_size_spacing_min * .6) @ff_size_spacing_med;
        margin: 0;
        list-style: none;
        line-height: 1.1;
    }
    &__list-item {
        padding: (@ff_size_spacing_min * .4) 0;
    }
    &__icon {
        .ff_icon;
        top:-.05em;
        margin-left: 5px;
        width: 1.25em;
        height: 1.25em;
        // FIXME: for now, copying style direct from generated icons
        // .ff_icon-page-down-open-white;
        &--is-open {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%207.414L5.707%209.707c-.39.39-1.024.39-1.414%200-.39-.39-.39-1.023%200-1.414l3-3c.39-.39%201.023-.39%201.414%200l3%203c.195.195.293.45.293.707s-.098.512-.293.707c-.39.39-1.023.39-1.414%200L8%207.414z%22%20fill%3D%22%23FFF%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
        }
        // FIXME: for now, copying style direct from generated icons
        // .ff_icon-page-up-open-white;
        &--is-enabled {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M10.293%206.293c.39-.39%201.023-.39%201.414%200%20.195.195.293.45.293.707s-.098.512-.293.707l-3%203c-.39.39-1.023.39-1.414%200l-3-3c-.39-.39-.39-1.023%200-1.414.39-.39%201.023-.39%201.414%200L8%208.586l2.293-2.293z%22%20fill%3D%22%23FFF%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
        }
    }
    &__link {
        #ff_mix-util-prose > .link-no-decoration;
        display: inline-block;
    }
    &__label {
        color: @ff_colour_control_text;
    }
}
