<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8">
        <title>{{ page.title }} - Firefly Core Pattern Library. Beta.</title>
    </head>
    <body class="{{ page.title | slugify }}">
        
        <nav class="site-nav">
            <ul>
                <li><span class="nav-heading">All Controls</span>
                    <ul>
                        <l><a href="{{ ">All Controls</a></l>
                        
                        {% assign target_patterns = site.patterns %}
                        {% assign group = '' %}
                        
                        {% for pattern in target_patterns %}
                            {% if pattern.url contains '.html' %}
                            
                                {% assign current_group_url = pattern.url | split:"/" %}
                                {% assign current_group_folder = current_group_url[2] %}
                                {% assign current_group = current_group_folder | split:"-" %}
                                
                                {% if current_group != group %}
                                {% assign group = current_group %}
                                <li><a href="{{ site.baseurl }}#group-{{current_group[1]}}">{{ current_group[1] | capitalize }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}  
                        
                    </ul>
                </li>
                <li><span class="nav-heading">Example Pages</span>
                    <ul>
                        {% for example in site.examples %}
                        <li><a href="{{ site.baseurl }}{{ example.url }}">{{ example.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        
        <main class="site-content">
            {{ content }}
        </main>
        
              
    <!-- js -->
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/pattern-library.js" type="text/javascript"></script>
    </body>
</html>
