.ff_module-dropdown-button {
    #ff_module-button > .default();
    padding: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
}

// children
.ff_module-dropdown-button {
    &__button {
        #ff_mix-buttons > .clear;
        padding: (@ff_size_spacing_min * .85) @ff_size_spacing_med;
    }
    &__content {
        vertical-align: middle;
        #ff_mix-responsive-colour > .check-contrast(#e3e3e3, @ff_templatesetting_colour_links, #ffffff);
    }
    &__list {
        // right: 5px;
        background-color: #fff;
        #ff_mix-responsive-colour > .check-contrast(#e3e3e3, @ff_templatesetting_colour_links, #ffffff);
        border: 1px solid @ff_colour_control_border;
        border-radius: @ff_size_control_rounding;
        padding: (@ff_size_spacing_min * .6) @ff_size_spacing_med;
        line-height: 1.1;
    }
    &__list-item {
        padding: (@ff_size_spacing_min * .4) 0;
    }
    &__icon {
        .ff_icon;
        top: -.05em;
        margin-left: 5px;
        width: 1.25em;
        height: 1.25em;
        #ff_mix-responsive-colour > .check-contrast-svg(#e3e3e3, @ff_templatesetting_colour_links, #ffffff);
    }
    &--primary &__icon,
    &--primary-compact &__icon,
    &--primary-right &__icon,
    &--primary-compact-right &__icon {
      #ff_mix-responsive-colour > .check-contrast-svg(darken(@ff_templatesetting_colour_links, 10%), @ff_templatesetting_colour_links, #ffffff);
    }
    &__link {
        #ff_mix-util-prose > .link-no-decoration;
        display: inline-block;
    }
    &__label {
        color: @ff_colour_control_text;
    }
}

//modifiers
.ff_module-dropdown-button {
    &--primary,
    &--primary-right,
    &--primary-compact,
    &--primary-compact-right {
        #ff_module-button > .primary();
    }
    &--primary &__content,
    &--primary-right &__content,
    &--primary-compact &__content,
    &--primary-compact-right &__content {
        #ff_module-button > .primary-content();
    }
    &--primary-compact &__content,
    &--primary-compact-right &__content {
        font-weight: normal;
    }
    &--tertiary,
    &--tertiary-right,
    &--tertiary-compact,
    &--tertiary-compact-right {
        #ff_module-button > .tertiary();
    }
    &--tertiary &__content,
    &--tertiary-right &__content,
    &--tertiary-compact &__content,
    &--tertiary-compact-right &__content {
        #ff_module-button > .tertiary-content();
    }

    &__button--compact,
    &__button--compact-right,
    &__button--primary-compact,
    &__button--primary-compact-right,
    &__button--tertiary-compact,
    &__button--tertiary-compact-right {
        #ff_module-button > .compact();
    }

    &--link,
    &--link-right, {
        #ff_module-button > .link();
    }
    &__button--link,
    &__button--link-right {
        #ff_module-button > .link();
    }
    &--link &__content,
    &--link-right &__content {
        color: @ff_templatesetting_colour_links;
        &:hover {
            color: shade(@ff_templatesetting_colour_links, 10%);
        }
    }
    &--link &__icon {
        // linked to alt color in config/icons.js
    }
}

// states
.ff_module-dropdown-button {
    &--is-enabled {}
    &--is-open {
        background-color: mix(@ff_colour_button_bg, @ff_templatesetting_colour_links, 70%);
        border-color: darken(@ff_colour_button_border, 10%);
        #ff_mix-responsive-colour > .check-contrast(mix(@ff_colour_button_bg, @ff_templatesetting_colour_links, 50%), @ff_templatesetting_colour_links, #ffffff);
        z-index: 3;
    }
}

//modifier + state
.ff_module-dropdown-button {
    &--link &__icon-alt--no-text,
    &--link-right &__icon-alt--no-text {
        margin: 0 5px;
    }
    &--link,
    &--link--is-open,
    &--link-right,
    &--link-right--is-open {
        background: none;
        min-width: 0;
        border: none;
    }
    &--primary--is-open,
    &--primary-right--is-open,
    &--primary-compact--is-open,
    &--primary-compact-right--is-open {
        background-color: darken(@ff_templatesetting_colour_links, 20%);
        border-color: darken(@ff_templatesetting_colour_links, 30%);
    }
    &--primary--is-open &__content,
    &--primary-right--is-open &__content,
    &--primary-compact--is-open &__content,
    &--primary-compact-right--is-open &__content {
        #ff_mix-responsive-colour > .check-contrast(darken(@ff_templatesetting_colour_links, 20%), @ff_templatesetting_colour_links, #ffffff);
    }
    &--primary-compact--is-open &__content,
    &--primary-compact-right--is-open &__content {
        background-color: darken(@ff_templatesetting_colour_links, 20%);
        border-color: darken(@ff_templatesetting_colour_links, 30%);
    }
    &--primary-compact--is-disabled &__content,
    &--primary-compact-right--is-disabled &__content {
        #ff_mix-responsive-colour > .check-contrast(darken(@ff_templatesetting_colour_links, 20%), @ff_templatesetting_colour_links, #ffffff);
    }
}
