.ff_container-page-header {
    display: flex;
    align-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.ff_container-page-header__title {
    flex: 1;
}

.ff_container-page-header__title {
    #ff_mix-util-prose > .h1();
    margin: 0;
}