.ff_container-page-header {
    display: flex;
    align-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: @ff_size_spacing_max * 1.5 @ff_size_spacing_max * 2;
    min-height: 90px;
    background-color: @ff_colour_header_bg;
    #ff_mix-responsive-colour > .check-contrast(@ff_colour_header_bg, @c_text, #ffffff);
}

.ff_container-page-header__title {
    flex: 1;
}

.ff_container-page-header__title {
    #ff_mix-util-prose > .page-header();
    margin: 0;
}