.ff_container-page-header {
    padding: @ff_size_spacing_max;
    background-color: @ff_colour_melody_dk_blue;
    border-radius: @ff_size_control_rounding @ff_size_control_rounding 0 0 ;
}

.ff_container-page-header__title {
    color: white;
    font-weight: normal;
}